
.confirmation-section{background: linear-gradient(180deg, rgba(240, 242, 250, 0.00) 0%, #F0F2FA 100%), #F0F2FA; background-blend-mode: normal, darken, normal;}
.confirmation-bg{background-position: center top; background-repeat: no-repeat; background-size: cover;}
.confirmation-optional{gap: 19px; margin-bottom: 27px; color: var(--Blue); font-size: 1.125rem; font-weight: 700; line-height: 1.375rem; font-family: "arboria", sans-serif;}
.confirmation-optional svg{flex: 0 0 39px;}
.confirmation-optional span{flex: 1;}
.confirmation-desc a{text-decoration: underline;}
.confirmation-btns{gap: 16px;}
.confirmation-btns a{padding: 8px 12px; gap: 11px; width: fit-content; color: var(--Blue); font-size: 1.25rem; font-weight: 700; line-height: 1.875rem; }
.confirmation-btns a:hover{color: var(--Orange);}
.confirmation-text h2{margin-bottom: 23px;}
.confirmation-text hr{margin-bottom: 39px;}
.confirmation-desc{margin-bottom: 39px;}
.confirmation-row.no_date{display: block;}

/* media css starts here */
@media screen and (min-width: 1300px){
    .confirmation-row{gap: 179px;}
}
@media screen and (min-width: 1024px){
    .confirmation-bg{background-image: url("images/demo-book@2x.jpg");}
    .confirmation-main{padding: 144px 0 67px;}
    .confirmation-text{flex: 0 0 420px;}
    .confirmation-date{flex: 1;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .confirmation-row{gap: 32px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .confirmation-bg{background-image: url("images/demo-book@2x.jpg");}
    .confirmation-main{padding: 144px 0 67px;}
    .confirmation-row{display: block;}
    .confirmation-text{margin-bottom: 60px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    
    .confirmation-bg{background-image: url("images/demo-book-mobile@2x.jpg"); background-size: 100% 102%;}
    .confirmation-main{padding: 121px 0 70px;}
    .confirmation-row{display: block;}
    .confirmation-text{margin-bottom: 39px;}
    .confirmation-optional{display: block; margin-bottom: 25px;}
    .confirmation-optional svg{margin-bottom: 16px;}
    .confirmation-optional span{display: block;}
    .confirmation-text h2{font-size: 2rem; line-height: 2.5rem;}
    .confirmation-date{margin-bottom: 39px;}
    .confirmation-desc { margin-bottom: 23px; }
    .confirmation-btns > span{flex: 1;}
    .confirmation-btns a{width: 100%;}
}
@media screen and (max-width: 370px) and (min-width: 200px){
    .confirmation-btns a{font-size: 15px;}
}






