
.demo-section{background: var(--Masthead-Fade-A, linear-gradient(180deg, rgba(240, 242, 250, 0.00) 0%, #F0F2FA 100%), #F0F2FA); background-blend-mode: normal, darken, normal;}
.demo-text hr{margin: 0 0 40px;}
ul.demo-options{margin: 0;}
ul.demo-options > li::before{display: none;}
ul.demo-options > li{gap: 8px; margin-bottom: 17px;}
ul.demo-options > li svg{width: 23px;}
ul.demo-options > li span{flex: 1;}

body .demo-form .frm_forms .frm_form_fields .frm_form_field{margin-bottom: 24px;}
body .demo-form .frm_forms .frm_form_fields .frm_form_field input::-webkit-input-placeholder, body .demo-form .frm_forms .frm_form_fields .frm_form_field textarea::-webkit-input-placeholder{color: var(--Blue); font-family: "Noto Sans", sans-serif;}
body .demo-form .frm_forms .frm_form_fields .frm_form_field input:-moz-placeholder, body .demo-form .frm_forms .frm_form_fields .frm_form_field textarea:-moz-placeholder{color: var(--Blue); font-family: "Noto Sans", sans-serif; opacity: 1;}
body .demo-form .frm_forms .frm_form_fields .frm_form_field input::-moz-placeholder, body .demo-form .frm_forms .frm_form_fields .frm_form_field textarea::-moz-placeholder{color: var(--Blue); font-family: "Noto Sans", sans-serif; opacity: 1;}
body .demo-form .frm_forms .frm_form_fields .frm_form_field input:-ms-input-placeholder, body .demo-form .frm_forms .frm_form_fields .frm_form_field textarea:-ms-input-placeholder{color: var(--Blue); font-family: "Noto Sans", sans-serif;}
body .demo-form .frm_forms .frm_form_fields .frm_form_field_wrapper .frm_form_field{margin-bottom: 0;}
body .demo-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_checkbox label span{opacity: 0.9; font-weight: 400; font-size: 14px; line-height: 20px; color: var(--Foreground);}

/* media css starts here */
@media screen and (min-width: 1024px){
    .demo-main{padding: 145px 0 40px; gap: 64px;} 
    .demo-text{flex: 0 0 420px;}
    .demo-form{flex: 1;}
}







