

.article-block-cta{margin-bottom: 49px; color: var(--Navy);}
.article-block-cta .h1{margin-bottom: 25px; color: var(--Foreground);}
.article-block-cta hr{margin-bottom: 23px;}
.article-block-btns{gap: 16px; padding-top: 7px;}
.default-article h2:not(.article-block-cta h2){margin-bottom: 19px;}
.default-article h3:not(.mini-cta-text h3){padding-top: 30px; margin-bottom: 19px;}
.default-article h4{margin-bottom: 20px;}
.image-caption-main{margin: 57px 0 140px;}
.image-caption-text{ width: calc(100% - 80px); left: 40px; bottom: -53px; padding: 24px 24px 6px; background: rgba(240, 242, 250, 0.75); backdrop-filter: blur(4px); color: var(--Navy, #182A54); }
.image-caption-box{width: 40px; height: 40px; bottom: -40px; right: -40px; background: var(--Background, #F0F2FA);}
.article-cta-link{margin: 47px 0 47px; padding-left: 20px; border-left: 4px solid var(--Orange);}

.mini-cta-article {margin: 56px 0 48px; padding: 32px; gap: 24px; background-image: linear-gradient(90deg, #1335af 0, rgba(19, 53, 175, 0) 100%), url("images/mini-cta-article@2x.png"); position: relative; background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; }
.mini-cta-article::before{ width: 100%; height: 100%; top: 0; left: 0; content: ""; position: absolute; background-image: linear-gradient(-300deg, #182A54 0%, #1335AF 100%); border-radius: 16px; z-index: -1;}
.mini-cta-text{flex: 1;}
.mini-cta-text h3{margin-bottom: 0;}
.mini-cta-links{flex: 0 0 132px; gap: 11px; flex-direction: column; text-align: center;}

.default-article .accordion-main{margin: 54px 0 46px;}
.default-aside h3{margin-bottom: 20px; color: var(--Foreground);}
.default-aside hr{margin-bottom: 17px;}
ul.aside-links{margin: 0 0 39px;}
ul.aside-links li{margin: 0 0 17px;}
ul.aside-links li::before{display: none;}

.article-cta-link .text-btn-link{font-size: 1.5rem; line-height: 1.875rem; font-family: "arboria", sans-serif;}
.article-cta-link .text-btn-link svg{top: 2px; margin-left: 10px; min-width: 25px;}
.default-article blockquote{margin: 52px 0 49px;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .default-section{padding: 38px 0 79px; }
    .default-main{gap: 80px;}
    .default-article{flex: 1;}
    .default-aside{flex: 0 0 300px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .default-main{padding: 24px 0 21px; display: block;}
    .article-block-cta{margin-bottom: 31px; font-size: 1.25rem; line-height: 1.875rem;} 
    .article-block-cta .h1{margin-bottom: 23px;}
    .article-block-cta hr{margin-bottom: 23px;}
    .article-block-cta p{margin-bottom: 16px;}

    .default-article:not(:last-child){padding-bottom: 44px;}
    .default-article h3:not(.mini-cta-text h3){padding-top: 13px; font-size: 1.5rem; line-height: 1.875rem;}
    
    .article-cta-link{margin: 31px 0 32px;}
    .article-cta-link .text-btn-link{flex: 1; font-size: 1.5rem; line-height: 1.875rem;}

    .mini-cta-article{display: block; margin: 40px 0 32px;}
    .mini-cta-text{margin-bottom: 24px;}
    .mini-cta-links{gap: 16px; flex-direction: row; align-items: center;}
    .mini-cta-links span:nth-child(2){top: -2px; position: relative;}

    .image-caption-main{margin: 41px 0 32px;}
    .image-caption-text{ padding: 16px 16px 2px; width: calc(100% - 32px); left: 16px; top: -16px; position: relative; }
    .image-caption-box{width: 16px; height: 16px; bottom: -16px; right: -16px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .default-main{padding: 24px 0 21px; display: block;}
    .article-block-cta{margin-bottom: 31px; font-size: 1.25rem; line-height: 1.875rem;} 
    .article-block-cta .h1{margin-bottom: 23px;}
    .article-block-cta hr{margin-bottom: 23px;}
    .article-block-cta p{margin-bottom: 16px;}

    .default-article:not(:last-child){padding-bottom: 44px;}
    .default-article h3:not(.mini-cta-text h3){padding-top: 13px; font-size: 1.5rem; line-height: 1.875rem;}
    
    .article-cta-link{margin: 31px 0 32px;}
    .article-cta-link .text-btn-link{flex: 1; font-size: 1.5rem; line-height: 1.875rem;}

    .mini-cta-article{display: block; margin: 40px 0 32px;}
    .mini-cta-text{margin-bottom: 24px;}
    .mini-cta-links{gap: 16px; flex-direction: row; align-items: center;}
    .mini-cta-links span:nth-child(2){top: -2px; position: relative;}

    .image-caption-main{margin: 41px 0 32px;}
    .image-caption-text{ padding: 16px 16px 2px; width: calc(100% - 32px); left: 16px; top: -16px; position: relative; }
    .image-caption-box{width: 16px; height: 16px; bottom: -16px; right: -16px;}
}












