
figure.in-detail-logo{background: var(--Gradient-Blue, linear-gradient(300deg, #182A54 0%, #1335AF 100%));}
.in-detail-savings{padding: 33px 34px; border: 1px solid var(--Blue-Tint, #D9DFF2); box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10); }
.in-detail-icon{width: 38px; margin-bottom: 11px;}
.in-detail-icon svg{max-width: 38px; height: auto;}


.in-detail-text span.optional-text{margin-bottom: 24px;}
.in-detail-text h1{margin-bottom: 24px;}
.in-detail-text hr{margin-bottom: 21px;}


/* media css starts here */
@media screen and (min-width: 1024px){
    .in-detail-main{padding: 190px 0 71px; gap: 80px;}
    .in-detail-text{flex: 0 0 560px;}
    .in-detail-images{flex: 1; max-width: 552px; margin-left: auto; margin-right: 24px;}

    .in-detail-logos{flex-direction: column; flex: 1; gap: 64px;}
    figure.in-detail-logo{width: 128px; height: 128px;}
    .in-detail-savings{flex: 0 0 300px; margin-top: 28px;}
}




