
figure.in-detail-logo{background: var(--Gradient-Blue, linear-gradient(300deg, #182A54 0%, #1335AF 100%));}
.in-detail-savings-desc{padding: 33px 34px; border: 1px solid var(--Blue-Tint, #D9DFF2); box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10); }
.in-detail-icon{width: 38px; margin-bottom: 11px;}
.in-detail-icon svg{max-width: 38px; height: auto;}


.in-detail-text span.optional-text{margin-bottom: 24px;}
.in-detail-text h1{margin-bottom: 24px;}
.in-detail-text hr{margin-bottom: 21px;}


/* media css starts here */
@media screen and (min-width: 1300px){
    .in-detail-main{gap: 80px;}
    .in-detail-images{margin-right: 24px;}
}
@media screen and (min-width: 1024px){
    .in-detail-main{padding: 190px 0 71px;}
    .in-detail-text{flex: 1;}
    .in-detail-images{flex: 0 0 552px; max-width: 552px; margin-left: auto;}
}
@media screen and (min-width: 740px){
    .in-detail-logos{flex-direction: column; flex: 1; gap: 64px; max-width: 193px;}
    figure.in-detail-logo{width: 128px; height: 128px;}
    figure.in-detail-logo img{object-fit: contain;}
    .in-detail-savings{flex: 0 0 300px; margin-top: 28px; margin-left: 60px;}
    .in-detail-rectangle{top: calc(50% + 3px); transform: translateY(-50%); right: 0;}
    .in-detail-arrow{top: calc(50% + 5px); transform: translateY(-50%); left: -60px;}
} 
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .in-detail-main{gap: 40px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
    .in-detail-main{padding: 158px 0 39px; display: block;}
    .in-detail-text{padding-top: 50px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .in-detail-main{padding: 123px 0 39px; display: block;}
    .in-detail-images{max-width: 350px; margin-bottom: 20px;}
    .in-detail-logos{flex-direction: column; flex: 1; gap: 39px; max-width: 120px;}
    figure.in-detail-logo{width: 80px; height: 80px;}
    figure.in-detail-logo img{object-fit: contain;}
    .in-detail-savings{flex:1; margin-top: 18px; margin-left: auto; max-width: 187px;}
    .in-detail-savings h2{font-size: 16px; line-height: 20px;}
    .in-detail-savings-desc{padding: 19px 20px;}
    .in-detail-icon{width: 24px; margin-bottom: 3px;}
    .in-detail-icon svg{max-width: 24px;}
    .in-detail-rectangle{top: calc(50% + 3px); transform: translateY(-50%); right: 0;}
    .in-detail-rectangle svg{width: 44px;}
    .in-detail-arrow{top: calc(50% + 5px); transform: translateY(-50%); left: -36px;}
    .in-detail-arrow svg{width: 39px;}
    .in-detail-text{font-size: 16px; line-height: 24px;}
    .in-detail-text span.optional-text{margin-bottom: 20px;}
    .in-detail-text h1{margin-bottom: 19px; font-size: 32px; line-height: 40px;}
    .in-detail-text hr{margin-bottom: 19px;}
    .masthead-btns{padding-top: 1px;}
}

