


.resources-section{background: var(--Background, #F0F2FA);}
.resources-wrap{padding: 0 0 120px;}
.resources-main{gap: 40px; padding: 62px 0 62px;}
.resources-list{flex: 0 0 calc(33.333333% - 31px);}
.load-more-resources{gap: 16px;}
.load-more-resources::before, .load-more-resources::after{height: 1px; content: ""; display: block; opacity: 0.2; background: var(--Foreground, #313031); }
.load-more-resources::before{flex: 1;}
.load-more-resources::after{flex: 1;}
span.loader{position: absolute;}













