




.inline-post-video{margin-bottom: 39px;}
.inline-post-video iframe{width: 100%; min-height: 507px; border-radius: 16px;}
.post-video-article h1{margin-bottom: 24px;}
.post-video-article p span{margin-bottom: 40px; font-size: 24px; font-weight: 400; line-height: 36px; color: var(--Navy,#182a54); display: block;}
.post-video-article h3{margin-bottom: 18px;}
.post-video-link{margin-top: 56px;}




/* media css starts here */
@media screen and (min-width: 1024px){
    .post-video-section{padding: 175px 0 79px;}
    .post-video-main{gap: 80px;}
    .post-video-article{flex: 1;}
    .post-video-aside{flex: 0 0 300px;}
}