

.ai-gradient-bg{height: calc(100% + 72px); background: linear-gradient(300deg, #182A54 0%, #1335AF 100%);}
.no_client_logos .ai-gradient-bg{height: 100%;}


/* media css starts here */
@media screen and (min-width: 1024px){
    .ai-feature-wrap{padding: 48px 0 48px;} 
    .scrolled .ai-feature-main{padding: 66px 0 66px; width: 100%; display: flex; flex-wrap: wrap; }
    .ai-feature-title{flex: 1; gap: 4px; display: flex; align-items: center;}
    .ai-feature-title strong{white-space: nowrap; display: none;}
    .ai-feature-text{align-items: center;}
    .scrolled .ai-feature-text{padding-top: 54px; display: block;}
    .ai-feature-desc{flex: 0 0 225px;}
    .ai-feature-desc h2{margin-bottom: 0; color: var(--White);}
    .scrolled .ai-feature-desc{margin-bottom: 33px;}
    .scrolled .ai-feature-title strong{display: block;}

    
    .ai-feature-art{flex: 1; background-color: rgba(24, 42, 84, 0.60); border: 1px solid transparent; color: var(--White);}
    .scrolled .ai-feature-art:not(:last-child){margin-bottom: 16px;}
    .ai-feature-art:hover{border-color: var(--Blue); background-color: var(--Navy);}
    .ai-feature-art.active{background-color: var(--White); color: var(--Foreground);}


    .scrolled .ai-feature-head{padding: 18px 14px 18px 15px; font-size: 20px; line-height: 25px;}
    .ai-feature-head{gap: 7px; padding: 13px 14px 14px 15px; font-size: 18px; line-height: 22.5px; cursor: pointer; font-weight: 400;}
    .ai-feature-head.open{color: var(--Blue); pointer-events: none;}
    .ai-feature-icon{width: 22px; height: 22px;}
    .ai-feature-icon svg{width: 100%; height: 100%;}
    .ai-feature-content{padding: 4px 14px 14px 15px; display: none;}
    .ai-feature-content p:not(:last-child){margin-bottom: 20px;}

    .ai-feature-arts{flex: 1; gap: 16px;}
    .scrolled .ai-feature-arts{display: block;}
    .ai-feature-pos{position: relative; min-height: 600px;}
    .ai-feature-image.active-slide{transform: translateX(0);}
    .ai-feature-image{ top: 0; left: 0; width: 100%; height: 100%; transition: all .5s ease; position: absolute; transform: translateX(100%); }
    .ai-feature-images{min-height: 600px;}
    .ai-tabs-main{display: none;}
    .ai-feature-icon svg path:not(:first-child){fill: var(--White);}
    .scrolled .ai-feature-head.open .ai-feature-icon svg path:not(:first-child){fill: #1335AF;}
}
@media only screen and (min-width: 1440px){
    .ai-container{max-width: 1360px; margin: 0 auto; left: 40px; overflow: hidden;}
    .scrolled .ai-feature-main{gap: 80px;}
    .ai-feature-text{gap: 0 68px;}
    .scrolled .ai-feature-text{flex: 0 0 480px;}
    .ai-feature-images{flex: 0 0 calc(100% - 560px); max-width: calc(100% - 560px);}
    .ai-feature-pos{min-width: 800px;}
}
@media only screen and (max-width: 1439px) and (min-width: 1200px){
    .scrolled .ai-feature-main{gap: 60px;}
    .ai-feature-text{gap: 0 68px;}
    .scrolled .ai-feature-text{flex: 0 0 520px; padding-left: 40px;}
    .ai-feature-images{flex: 0 0 calc(100% - 580px); max-width: calc(100% - 580px);}
    .ai-feature-pos{min-width: 800px;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .ai-feature-text{gap: 0 32px; padding: 0 40px;}
    .scrolled .ai-feature-text{flex: 0 0 400px;}
    .ai-feature-images{flex: 1;}
    .ai-feature-title{font-size: 14px; line-height: 18px;}
    .scrolled .ai-feature-title{font-size: 20px; line-height: 24px;}
    .scrolled .ai-feature-title span{display: none;}
    .ai-feature-thumb img{object-fit: contain;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .ai-container{padding: 0 40px;}
    .ai-tabs-desc h2{font-size: 30px; line-height: 40px;}
    ul.ai-tab-links li{margin: 0; flex: 1;}
    ul.ai-tab-links li.ai-tab-active, ul.ai-tab-links li.ai-tab-open{flex: 0 0 auto;}
    ul.ai-tab-links li a{gap: 10px; padding: 0 16px; color: var(--White);}
    ul.ai-tab-links li a svg{width: 31px;}
    ul.ai-tab-links li.ai-tab-open a{color: var(--Blue);}
    ul.ai-tab-links li.ai-tab-active a span, ul.ai-tab-links li.ai-tab-open a span{ gap: 4px; display: flex; flex-wrap: nowrap; }
    .ai-tab-head{display: none;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .ai-container{padding: 0 24px;}
    .ai-feature-main{display: none;}

    .ai-tabs-desc h2{color: var(--White);}
    ul.ai-tab-links{margin: 12px 0 0; gap: 4px;}
    ul.ai-tab-links li::before{display: none;}
    ul.ai-tab-links li a{width: 100%; height: 60px; border-radius: 16px 16px 0px 0px; background: rgba(24, 42, 84, 0.60);; justify-content: center;}
    ul.ai-tab-links li a img{width: 32px;}
    ul.ai-tab-links li a svg path:not(:first-child){fill: var(--White);}
    ul.ai-tab-links li a span{display: none;}
    ul.ai-tab-links li.ai-tab-active a svg path:not(:first-child){fill: var(--White);}
    ul.ai-tab-links li.ai-tab-open a{background-color: var(--White);}
    ul.ai-tab-links li.ai-tab-open a svg path:not(:first-child){fill: #1335AF;}


    .ai-tab-content:first-child{display: block;}
    .ai-tab-content{display: none; padding: 20px 24px 22px; border-radius: 0 0 16px 16px;}
    .ai-tab-content p{margin-bottom: 16px;}
    .ai-tab-head{margin-bottom: 14px;}
    .ai-tab-head span{margin-bottom: 3px; color: var(--Blue); display: block;}
    
    /*-- animation ai --*/
    .ai-feature-wrap{ padding: 30px 0 104px; }
    .ai-tabs-desc{ animation-delay: 0.5s; animation-duration: 1.5s; animation-name: ai-padding; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-play-state: paused;}
    .ai-visible.ai-tabs-desc{animation-play-state: running;}
    @keyframes ai-padding { 0%{padding-top: 0;} 100%{padding-top: 64px;} }
    .ai-tabs-main{position: relative; overflow: hidden;}
    .ai-tabs-desc{position: relative; z-index: 2;}
    div.ai-image-t{ height: 0; overflow: hidden; animation-delay: 0.5s; animation-duration: 1.5s; animation-name: ai-image; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-play-state: paused; }
    .ai-visible.ai-image-t{animation-play-state: running;}
    @keyframes ai-image { 0%{transform: translateY(-50%); height: 0; } 100%{position:  translateY(0%); height: 100%;} }
    ul.ai-tab-links{visibility: visible; animation-delay: 0.5s; animation-duration: 1.5s; animation-name: ai-links; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-iteration-count: inherit; animation-play-state: paused; }
    ul.ai-tab-links.ai-links{animation-play-state: running;} @keyframes ai-links { 0%{transform: translateY(-250px);} 100%{position: translateY(0%);} }
    ul.ai-links li.ai-tab-active a{animation-delay: 0.5s; animation-duration: 1.5s; animation-name: ai-active; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-play-state: running; color: var(--Blue); }
    @keyframes ai-active { 0%{background-color: rgba(24,42,84,.9);} 100%{background-color: var(--White);} }
    ul.ai-links li.ai-tab-active a svg path:not(:first-child){animation-delay: 0.5s; animation-duration: 1.5s; animation-name: ai-path; animation-fill-mode: forwards; animation-timing-function: ease-in-out; }
    @keyframes ai-path { 0%{fill: var(--White);} 100%{fill: #1335AF;} }
    .ai-content-t{ height: 0; overflow: hidden; animation-delay: 0.5s; animation-duration: 1.5s; animation-name: ai-content; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-iteration-count: inherit; animation-play-state: paused; }
    .ai-visible.ai-content-t{animation-play-state: running;}
    @keyframes ai-content { 0%{transform: translateY(-100%);  height: 0;} 100%{position:  translateY(0%);  height: 100%;} }
    /*-- animation ai --*/
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    ul.ai-tab-links li{margin: 0; flex: 0 0 calc(25% - 3px);}
}

























