
.alt-faqs-desc{margin-bottom: 30px;}
.alt-faqs-desc h2{margin-bottom: 19px;}
.alt-faqs-icon{max-width: 46px; margin-bottom: 16px;}
.alt-faqs-icon svg{max-width: 46px;}

.alt-faqs-title{gap: 18px; margin-bottom: 23px;}
.alt-faqs-title svg{flex: 0 0 39px;}
.alt-faqs-title span{flex: 1;}
.alt-faqs-title h2{margin: 0; padding-top: 3px; flex: 1;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .alt-faqs-main{gap: 80px; padding: 80px 0 28px;}
    .alt-faqs-text{flex: 0 0 300px;}
    .alt-faqs-right{flex: 1;}
    .alt-faqs-list{margin-bottom: 52px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .alt-faqs-main{padding: 60px 0; display: block;}
    .alt-faqs-text{width: 100%; gap: 32px; margin-bottom: 50px; display: flex; flex-wrap: wrap;}
    .alt-faqs-desc{flex: 1;}
    .alt-faqs-list:not(:last-child){margin-bottom: 50px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .alt-faqs-main{padding: 43px 0 40px; display: block;}
    .alt-faqs-text{padding-bottom: 12px;}
    .alt-faqs-right{margin-bottom: 40px;}
    .alt-faqs-list:not(:last-child){margin-bottom: 50px;}
}











