
.as-feature-icon{margin-bottom: 17px; max-width: 46px; max-height: 46px;}
.as-feature-icon figure, .as-feature-icon svg{width: 46px; height: 46px;}
.as-feature-icon figure img{object-fit: contain;}
.as-icon-block { width: 14px; height: 14px; top: -8px; right: -9px; opacity: 0; background-color: var(--Background); transition: all 0.5s ease; z-index: -1; }
.as-icon-block.sm { width: 6px; height: 6px; top: -13px; right: -15px; }
.as-feature-list:hover .as-icon-block{ opacity: 1; }
.as-feature-list:hover .as-icon-block:not(.sm) { width: 62px; height: 62px; right: -8px; top: -8px; }

.as-feature-text h2{margin-bottom: 14px; color: var(--Navy);}
span.rule{width: 1px; height: 50px;opacity: 0.4; background: var(--Blue, #1335AF); display: block;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .as-feature-main{padding: 102px 0 84px;}
    .as-feature-head{gap: 30px; margin-bottom: 84px;}
    .as-feature-title{flex: 1;}
    .as-feature-link{gap: 30px; flex: 0 0 156px;}
    .as-feature-row{gap: 60px;}
    .as-feature-list{flex: 0 0 calc(25% - 45px); padding: 0 0 6px;}
    .as-text-link{opacity: 0; visibility: hidden; transform: translateY(30px);}
    .as-feature-list:hover .as-text-link{visibility: visible; opacity: 1; transform: translateY(0);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .as-feature-main{padding: 62px 0 80px;}
    .as-feature-head{gap: 30px; margin-bottom: 62px;}
    .as-feature-title{flex: 1;}
    .as-feature-link{gap: 30px; flex: 0 0 156px;}

    .as-feature-row{gap: 60px 30px;}
    .as-feature-list{flex: 0 0 calc(50% - 30px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .as-feature-main{padding: 0 0 40px;}
    .as-feature-head{padding: 40px 0 64px; display: block;}
    .as-feature-title{margin-bottom: 19px;}
    span.rule{width: 100%; height: 1px; margin-bottom: 20px;}
    .as-feature-row{display: block;}
    .as-feature-list:not(:last-child){margin-bottom: 34px;}
}



