
.asmbl-masthead-section{ background-image: linear-gradient(to top, rgba(240, 242, 250, 0) 0%, #f0f2fa 100%), linear-gradient(to bottom, #f0f2fa, #f0f2fa); }
.asmbl-masthead-bg{background-repeat: no-repeat; background-size: cover;}

.asmbl-masthead-text span.optional-text{margin-bottom: 24px;}
.asmbl-masthead-text h1{margin-bottom: 24px; color: var(--Navy);}
.asmbl-masthead-text hr{margin-bottom: 22px;}
.asmbl-masthead-btns{gap: 16px; padding-top: 7px;}
.asmbl-masthead-btns > span:not(:first-child){top: -2px; position: relative;}

.asmbl-masthead-thumb img{object-fit: cover; border-radius: 6px; position: relative;}
.asmbl-masthead-thumb:nth-child(1){top: 64px; left: 0; width: 213px; height: 176px;}
.asmbl-masthead-thumb:nth-child(2){top: 31px; left: 192px; min-width: 529px; width: 100%; height: 204.5px;}
.asmbl-masthead-thumb:nth-child(2) img{object-position: left top; object-fit: contain;}
.asmbl-masthead-thumb:nth-child(3){top: 254px; left: 0; width: 213px; height: 282px;}
.asmbl-masthead-thumb:nth-child(4){top: 198px; left: 228px; width: 212px; height: 162px;}
.asmbl-masthead-thumb:nth-child(5){top: 376px; left: 228px; width: 212px; height: 162px;}
.asmbl-masthead-thumb:nth-child(6){top: 198px; left: 456px; width: 212px; height: 266px;}
.asmbl-masthead-thumb:nth-child(7){top: 507px; left: 40px; width: 436px; height: 216px;}
.asmbl-masthead-thumb:nth-child(8){top: 455px; left: 410px; width: 294px; height: 269px;}

/*-- animation css starts --*/
.asmbl-masthead-thumb img{animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.5s ease;}
/*-- animation css ends --*/


/* media css starts here */
@media screen and (min-width: 1024px){
    .asmbl-masthead-bg{background-image: url("images/asmbl-masthead-bg@2x.jpg");}
    .asmbl-masthead-main{padding: 80px 0 2px; flex-direction: row-reverse;} 
    .asmbl-masthead-btns{padding-top: 6px; gap: 16px;}
    .asmbl-masthead-text{font-size: 20px; line-height: 28px;}

    /*-- animation css starts --*/
    .asmbl-masthead-thumb:nth-child(1) img{animation-name: anim-down-1; }
    .asmbl-masthead-thumb:nth-child(2) img{animation-name: animRight; }
    .asmbl-masthead-thumb:nth-child(3) img{animation-name: animdUp; }
    .asmbl-masthead-thumb:nth-child(4) img{animation-name: anim-down-2;}
    .asmbl-masthead-thumb:nth-child(5) img{animation-name: animdUp; }
    .asmbl-masthead-thumb:nth-child(6) img{animation-name: animRight; }
    .asmbl-masthead-thumb:nth-child(7) img{animation-name: animRight; }
    .asmbl-masthead-thumb:nth-child(8) img{animation-name: animdUp; }
    @keyframes anim-down-1{ from{top: -162px;} to{top: 0;} }
    @keyframes anim-down-2{ from{top: -256px;} to{top: 0;} }
    @keyframes animdUp{ from{transform: translateY(100vh);} to{transform: translateY(0%);} }
    @keyframes animDown{ from{transform: translateY(-100vh);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/
}
@media screen and (min-width: 1440px){
    .asmbl-masthead-wrapper{max-width: 1600px; margin: 0 auto;}
    .asmbl-masthead-images{flex: 0 0 720px; height: 725px; right: -80px;}
    .asmbl-masthead-text{max-width: 560px; padding-top: 148px; flex: 0 0 calc(100% - 720px);}
}
@media only screen and (max-width: 1439px) and (min-width: 1280px){
    .asmbl-masthead-images{flex: 0 0 720px; height: 725px; right: -80px;}
    .asmbl-masthead-text{flex: 0 0 calc(100% - 720px); padding-top: 148px; }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .asmbl-masthead-main{padding: 123px 0 56px; align-items: center;}
    .asmbl-masthead-images{flex: 0 0 510px; height: 458px; right: -40px;}
    .asmbl-masthead-text{flex: 0 0 calc(100% - 510px);}
    .asmbl-masthead-text h1{font-size: 40px; line-height: 50px;}
    .asmbl-masthead-text h1 br{display: none;}
    
    .asmbl-masthead-thumb img{object-fit: cover; border-radius: 3px;}
    .asmbl-masthead-thumb:nth-child(1){top: 38px; left: 12px; width: 121px; height: 86.97px;}
    .asmbl-masthead-thumb:nth-child(2){top: 16px; left: 149px; width: 498.8px; height: 81.94px;}
    .asmbl-masthead-thumb:nth-child(2) img{object-position: left top;}
    .asmbl-masthead-thumb:nth-child(3){top: 141px; left: 12px; width: 120.7px; height: 154.43px;}
    .asmbl-masthead-thumb:nth-child(4){top: 115px; left: 150px; width: 120.7px; height: 96.95px;}
    .asmbl-masthead-thumb:nth-child(5){top: 228px; left: 150px; width: 120.7px; height: 96.95px;}
    .asmbl-masthead-thumb:nth-child(6){top: 115px; left: 287px; width: 120.7px; height: 146.35px;}
    .asmbl-masthead-thumb:nth-child(7){top: 341px; left: 78px; width: 192.9px; height: 96.52px;}
    .asmbl-masthead-thumb:nth-child(8){top: 278px; left: 286px; width: 120.7px; height: 121.64px;}
    .asmbl-masthead-thumb:nth-child(8) img{border-radius: 3px 3px 0 0;}

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .asmbl-masthead-main{padding: 80px 0 54px; display: block;} 
    .asmbl-masthead-images{flex: 0 0 720px; height: 725px; right: -8px;}
    .asmbl-masthead-text{max-width: 560px; padding-top: 64px; flex-shrink: 1;}
    .asmbl-masthead-btns{padding-top: 6px; gap: 16px;}
    .asmbl-masthead-thumb:nth-child(2) img{border-radius: 8px 0 0 8px;}
    .asmbl-masthead-thumb:nth-child(8) img{border-radius: 8px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    /*-- animation css starts --*/
    .asmbl-masthead-thumb:nth-child(1) img{animation-name: animLeft; }
    .asmbl-masthead-thumb:nth-child(2) img{animation-name: animRight; }
    .asmbl-masthead-thumb:nth-child(3) img{animation-name: animLeft; }
    .asmbl-masthead-thumb:nth-child(4) img{animation-name: animRight;}
    .asmbl-masthead-thumb:nth-child(5) img{animation-name: animLeft; }
    .asmbl-masthead-thumb:nth-child(6) img{animation-name: animRight; }
    .asmbl-masthead-thumb:nth-child(7) img{animation-name: animLeft; }
    .asmbl-masthead-thumb:nth-child(8) img{animation-name: animRight; }
    @keyframes animLeft{ from{transform: translateX(-100vw);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .asmbl-masthead-bg{background-image: url('images/asmbl-masthead-mobile@2x.jpg');}

    .asmbl-masthead-main{padding: 132px 0 40px; display: block;}
    .asmbl-masthead-images{height: 355px;}
    .asmbl-masthead-text{font-size: 16px; line-height: 24px;}
    .asmbl-masthead-text h1{margin-bottom: 20px; font-size: 32px; line-height: 40px;}
    .asmbl-masthead-text hr{margin-bottom: 20px;}
    .asmbl-masthead-text p{margin-bottom: 20px;}
    .asmbl-masthead-btns{gap: 15px;}

    .asmbl-masthead-thumb img{object-fit: cover; border-radius: 3px;}
    .asmbl-masthead-thumb:nth-child(1){top: 38px; left: 12px; width: 101px; height: 66.97px;}
    .asmbl-masthead-thumb:nth-child(2){top: 3px; left: 103px; width: 262.8px; height: 75.94px;}
    .asmbl-masthead-thumb:nth-child(2) img{object-position: left top;}
    .asmbl-masthead-thumb:nth-child(3){top: 112px; left: 12px; width: 100.7px; height: 134.43px;}
    .asmbl-masthead-thumb:nth-child(4){top: 86px; left: 121px; width: 100.7px; height: 76.95px;}
    .asmbl-masthead-thumb:nth-child(5){top: 171px; left: 121px; width: 100.7px; height: 76.95px;}
    .asmbl-masthead-thumb:nth-child(6){top: 86px; left: 230px; width: 108px; height: 134px;}
    .asmbl-masthead-thumb:nth-child(7){top: 234px; left: 22px; width: 218px; height: 104px;}
    .asmbl-masthead-thumb:nth-child(8){top: 216px; left: 208px; width: 146px; height: 136px;}
    .asmbl-masthead-thumb:nth-child(8) img{border-radius: 3px 3px 0 0;}
}