
.asmbl-masthead-section{ background-image: linear-gradient(to top, rgba(240, 242, 250, 0) 0%, #f0f2fa 100%), linear-gradient(to bottom, #f0f2fa, #f0f2fa); }
.asmbl-masthead-bg{background-repeat: no-repeat; background-size: cover;}

.asmbl-masthead-text span.optional-text{margin-bottom: 24px;}
.asmbl-masthead-text h1{margin-bottom: 24px; color: var(--Navy);}
.asmbl-masthead-text hr{margin-bottom: 22px;}
.asmbl-masthead-btns{gap: 16px; padding-top: 7px;}
.asmbl-masthead-btns > span:not(:first-child){top: -2px; position: relative;}

.asmbl-masthead-1{top: 64px; left: 0; width: 213px; height: 176px;}
.asmbl-masthead-2{top: 31px; left: 192px; min-width: 529px; width: 100%; height: 204px;}
.asmbl-masthead-2 img{object-position: left top;}
.asmbl-masthead-3{top: 254px; left: 0; width: 213px; height: 282px;}
.asmbl-masthead-4{top: 198px; left: 228px; width: 212px; height: 162px;}
.asmbl-masthead-5{top: 376px; left: 228px; width: 212px; height: 162px;}
.asmbl-masthead-6{top: 198px; left: 456px; width: 212px; height: 266px;}
.asmbl-masthead-7{top: 507px; left: 40px; width: 436px; height: 216px;}
.asmbl-masthead-8{top: 455px; left: 410px; width: 294px; height: 269px;}

/*-- animation css starts --*/
.asmbl-masthead-thumb img{opacity: 0; animation-play-state: paused; animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.5s ease; border-radius: 6px; position: relative;}
[data-images].loaded .asmbl-masthead-thumb img{opacity: 1; animation-play-state: running;}
.asmbl-masthead-7::after{animation-play-state: paused; visibility: hidden; background: #D9DFF2; backdrop-filter: blur(2px); animation-duration: 2s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.5s ease; z-index: -1; content: ""; display: block; position: absolute;}
[data-images].loaded .asmbl-masthead-7::after{animation-play-state: running; visibility: visible;}


/*-- animation css ends --*/
.asmbl-masthead-images.static-image{padding-top: 60px; height: auto; position: relative;}

.asmbl-masthead-main.no_asmbl_images{display: block;}
.no_asmbl_images .asmbl-masthead-text{padding: 74px 0 80px; max-width: 100%;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .asmbl-masthead-bg{background-image: url("images/asmbl-masthead-bg@2x.jpg");}
    .asmbl-masthead-main{padding: 80px 0 2px; flex-direction: row-reverse;} 
    .asmbl-masthead-btns{padding-top: 6px; gap: 16px;}
    .asmbl-masthead-text{font-size: 1.25rem; line-height: 1.75rem;}

    /*-- animation css starts --*/
    .asmbl-masthead-images{height: 725px;}
    [data-images].loaded .asmbl-masthead-1 img{animation-name: anim-down-1; }
    [data-images].loaded .asmbl-masthead-2 img{animation-name: animRight; }
    [data-images].loaded .asmbl-masthead-3 img{animation-name: animdUp; }
    [data-images].loaded .asmbl-masthead-4 img{animation-name: anim-down-2;}
    [data-images].loaded .asmbl-masthead-5 img{animation-name: animdUp; }
    [data-images].loaded .asmbl-masthead-6 img{animation-name: animRight; }
    [data-images].loaded .asmbl-masthead-7 img{animation-name: animRight; }
    [data-images].loaded .asmbl-masthead-8 img{animation-name: animdUp; }
    @keyframes anim-down-1{ from{top: -162px;} to{top: 0;} }
    @keyframes anim-down-2{ from{top: -256px;} to{top: 0;} }
    @keyframes animdUp{ from{transform: translateY(100vh);} to{transform: translateY(0%);} }
    @keyframes animDown{ from{transform: translateY(-100vh);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/

    .asmbl-masthead-7::after{width: 87px; height: 87px; bottom: 8px; right: 82px; animation-name: asmbl-anim-7-after;}
    @keyframes asmbl-anim-7-after{ from{ opacity: 1; bottom: 50px; right: 82px; } to{ bottom: 8px; right: 82px; opacity: 0.5;} }

}
@media screen and (min-width: 1440px){
    .asmbl-masthead-wrapper{max-width: 1600px; margin: 0 auto;}
    .asmbl-masthead-images{flex: 0 0 720px; right: -80px;}
    .asmbl-masthead-text{max-width: 560px; padding-top: 148px; flex: 0 0 calc(100% - 720px);}

    .asmbl-masthead-images.static-image{min-width: 720px; padding: 60px 0 60px 60px; right: -60px;}
}
@media only screen and (max-width: 1439px) and (min-width: 1280px){
    .asmbl-masthead-images{flex: 0 0 720px; right: -80px;}
    .asmbl-masthead-text{flex: 0 0 calc(100% - 720px); padding-top: 148px; }
    .asmbl-masthead-images.static-image{padding: 60px 0; right: -40px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .asmbl-masthead-main{align-items: center;}
    .asmbl-masthead-images{flex: 0 0 510px; right: -40px;}
    .asmbl-masthead-text{flex: 0 0 calc(100% - 510px);}
    .asmbl-masthead-text h1{font-size: 2.5rem; line-height: 3.125rem;}
    .asmbl-masthead-text h1 br{display: none;}
    
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .asmbl-masthead-main{padding: 80px 0 54px; display: block;} 
    .asmbl-masthead-images{flex: 0 0 720px; height: 725px; right: -8px;}
    .asmbl-masthead-text{padding-top: 64px; flex-shrink: 1;}
    .asmbl-masthead-btns{padding-top: 6px; gap: 16px;}
    .asmbl-masthead-2 img{border-radius: 8px 0 0 8px;}
    .asmbl-masthead-8 img{border-radius: 8px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    /*-- animation css starts --*/
    [data-images].loaded .asmbl-masthead-1 img{animation-name: animLeft; }
    [data-images].loaded .asmbl-masthead-2 img{animation-name: animRight; }
    [data-images].loaded .asmbl-masthead-3 img{animation-name: animLeft; }
    [data-images].loaded .asmbl-masthead-4 img{animation-name: animRight;}
    [data-images].loaded .asmbl-masthead-5 img{animation-name: animLeft; }
    [data-images].loaded .asmbl-masthead-6 img{animation-name: animRight; }
    [data-images].loaded .asmbl-masthead-7 img{animation-name: animLeft; }
    [data-images].loaded .asmbl-masthead-8 img{animation-name: animRight; }
    @keyframes animLeft{ from{transform: translateX(-100vw);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .asmbl-masthead-bg{background-image: url('images/asmbl-masthead-mobile@2x.jpg');}
    .asmbl-masthead-images.static-image{padding: 0 0 40px;}
    .asmbl-masthead-main{padding: 132px 0 40px; display: block;}
    .asmbl-masthead-images{height: 364px;}
    .asmbl-masthead-text{font-size: 1rem; line-height: 1.5rem;}
    .asmbl-masthead-text h1{margin-bottom: 20px; font-size: 2rem; line-height: 2.5rem;}
    .asmbl-masthead-text hr{margin-bottom: 20px;}
    .asmbl-masthead-text p{margin-bottom: 20px;}
    .asmbl-masthead-btns{gap: 15px; padding-top: 0;}

    .asmbl-masthead-thumb img{border-radius: 3px;}
    .asmbl-masthead-1{top: 19px; left: 0; width: 108px; height: 90px;}
    .asmbl-masthead-2{top: 3px; left: 98px; width: 268px; height: 102px; min-width: inherit;}
    .asmbl-masthead-2 img{object-position: left top; border-radius: 0;}
    .asmbl-masthead-3{top: 115px; left: 0; width: 108px; height: 143px;}
    .asmbl-masthead-4{top: 85px; left: 115px; width: 108px; height: 82px;}
    .asmbl-masthead-5{top: 174px; left: 115px; width: 108px; height: 82px;}
    .asmbl-masthead-6{top: 85px; left: 230px; width: 108px; height: 134px;}
    .asmbl-masthead-7{top: 242px; left: 22px; width: 218px; height: 104px;}
    .asmbl-masthead-8{top: 215px; left: 208px; width: 146px; height: 136px;}
    .asmbl-masthead-8 img{border-radius: 3px 3px 0 0;}
}