

.asset-scroll-section{background: linear-gradient(180deg, #F0F2FA 0%, #FFF 100.12%);}
.asset-scroll-text{padding: 8px 8px 8px 10px; border-radius: 0 0 8px 8px; border: 1px solid var(--Blue-Tint, #D9DFF2); color: var(--Foreground, #313031); font-family: "Noto Sans"; font-size: 10px; font-weight: 400; line-height: 15px;}
span.asset-filename{font-size: 12px; font-weight: 700; line-height: 18px;}
.asset-scroll-text p{opacity: 0.6;}
.asset-scroll-thumb{max-height: 145px; overflow: hidden;}
.asset-scroll-thumb img{border-radius: 8px 8px 0 0; min-height: 145px; max-height: 145px;}
.asset-scroll-desc{flex: 1;}
.asset-scroll-btn{ width: 40px; height: 40px; }
.asset-scroll-btn a{width: 100%; height: 100%; background: var(--Blue-Tint, #D9DFF2);}
.asset-scroll-btn a:hover svg{animation: scrollDown 1s forwards ease-in-out;}
.asset-scroll-hover{transform: translateY(100%); opacity: 0; visibility: hidden; padding: 24px; bottom: 0; left: 0; width: 100%; height: 100%; background-color: var(--White); box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10); z-index: 2; transition: all 0.4s ease;}
.asset-scroll-image:hover .asset-scroll-hover{transform: translateY(0); opacity: 1; visibility: visible;}
.asset-scroll-head{gap: 10px; margin-bottom: 20px;}
.asset-scroll-head span{flex: 1; margin: 0;}
.asset-scroll-icon{width: 24px;}
.asset-scroll-icon svg{width: 100%;}
.asset-scroll-hover p{opacity: 0.8;}


.search-above{left: 80px; max-width: 261px; height: auto;}
.colorful-bg-form{width: 100%; height: auto;}
.colorful-bg-form input{padding: 10px 16px 10px 46px; background-color: var(--White); border: none; color: var(--Foreground, #313031); font-family: "Noto Sans"; font-size: 19px; font-weight: 400; line-height: 30px; border-radius: 5.625px; border: 1.406px solid var(--Card-Stroke, rgba(217, 223, 242, 0.25)); box-shadow: 8px 8px 12px 0px rgba(24, 42, 84, 0.25); }
.colorful-bg-form button[type="submit"]{left: 15px; top: 10px; padding: 0; font-size: 19px; line-height: 30px; background: var(--Gradient-Gold-B, linear-gradient(315deg, #F9662D 0.31%, #FEC74D 82.24%, #FFDC54 100.31%)); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; border: none; position: absolute;}

.keywords-above{padding: 15px; height: auto; max-width: 274px; left: auto; right: 80px; bottom: 42px; border-radius: 7.5px; border: 0.938px solid var(--Card-Stroke, rgba(217, 223, 242, 0.25)); box-shadow: -10px 10px 15px 0px rgba(24, 42, 84, 0.25); }
.smart-keywords{margin-bottom: 12px;}
.keywords-head{gap: 8px; flex: 1;}
.keywords-head svg{width: 16px;}
.keywords-head span{flex: 1;}
.keywords-toggle{flex: 0 0 72px; gap: 7.5px;}
.keywords-show{color: var(--Foreground, #313031); font-size: 11.25px; font-weight: 400; line-height: 17px;}
ul.keywords-tags{margin: 0; gap: 11px;}
ul.keywords-tags li::before{display: none;}
ul.keywords-tags li{width: fit-content; margin: 0; font-size: 13.125px; font-weight: 400; line-height: 20px; padding: 7.5px; gap: 3.75px; color: var(--Foreground, #313031); border-radius: 3.75px; background: var(--Background, #F0F2FA); }

.keywords-switch { width: 34px; height: 16px; padding: 0; display: inline-block; }
.keywords-switch input { opacity: 0; width: 0; height: 0; padding: 0; border: none; }
.keywords-round { border-radius: 34px; position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #899BD8; -webkit-transition: .4s; transition: .4s; }
.keywords-round:before { position: absolute; content: ""; border-radius: 50%; height: 19px; width: 19px; left: 4px; bottom: -1px; background-color: var(--Blue); -webkit-transition: .4s; transition: .4s; }
.keywords-switch input:checked + .keywords-round { background-color: #899BD8; }
.keywords-switch input:checked + .keywords-round:before { transform: translateX(11px); }

.asset-scroll-slider{justify-content: center;}
ul.splide__list li::before{display: none;}
.asset-scroll-slider ul.splide__list li.splide__slide{width: 256px; margin-right: 24px;}

.asset-scroll-slider:not(.is-active) .splide__track{width: 100%;}
.asset-scroll-slider.is-initialized:not(.is-active) ul.splide__list{width: 100%; justify-content: center; display: flex; flex-wrap: nowrap;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .asset-scroll-main{padding: 40px 0 62px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .asset-scroll-main{padding: 40px 0 114px;}
    .search-above{left: 30px;}
    .keywords-above{right: 30px; bottom: 74px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .asset-scroll-main{padding: 40px 0 114px;}
    .search-above{left: 24px;}
    .keywords-above{right: 26px; bottom: 74px;}
    .asset-scroll-slider:not(.is-active) .splide__track{padding-left: 12px;}
    .asset-scroll-slider.is-initialized:not(.is-active) ul.splide__list{justify-content: flex-start;}
}






