



.awards-main{padding: 41px 0 41px;}
.awards-list{ box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10); }
.awards-icon{width: 56px; height: 56px; margin: -49px 0 16px; padding: 8px; background: rgba(19, 53, 175, 0.05);}
.awards-icon svg{width: 100%; height: 100%;}
.awards-list h2{margin-bottom: 16px;}

/* media css starts here */
@media screen and (min-width: 740px){
    .awards-intro-head{gap: 32px;}
    .awards-intro-title{flex: 1; border-right: 1px solid  rgb(19 53 175 / 40%);}
    .awards-intro-link{width: fit-content;}
}
@media screen and (min-width: 1024px){
    .awards-intro-head{margin-bottom: 64px;}
    .awards-row{gap: 32px; padding: 28px 0 0;}
    .awards-list{flex: 0 0 calc(25% - 24px); padding: 24px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .awards-intro-head{margin-bottom: 34px;}
    .awards-intro-title h2{font-size: 30px; line-height: 40px;}
    .awards-row{gap: 62px 32px; padding: 28px 0 0;}
    .awards-list{flex: 0 0 calc(50% - 16px); padding: 24px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .awards-intro-head{margin-bottom: 68px; display: block;}
    .awards-row{display: block; padding-bottom: 32px;}
    .awards-list{padding: 24px;}
    .awards-list:not(:last-child){margin-bottom: 60px;}
}












