

.browser-art-main{height: 460px; overflow: hidden;}
.browser-art-head{width: 100%;}
.browser-art-content{background-color: var(--Background); align-items: flex-start;}

/* media css starts here */
@media screen and (min-width: 740px){
    .browser-left-thumb img { animation-duration: 5s; animation-name: scrollCoverBrowserLeft; animation-timing-function: cubic-bezier(1, 0.005, 0.305, 1); animation-direction: alternate; animation-iteration-count: infinite; animation-fill-mode: none; }
    @keyframes scrollCoverBrowserLeft { 0% { transform: translateY(0); } 50% {transform: translateY(calc(-50% + 230px)); } 100% {transform: translateY(calc(-100% + 460px)); } }
    .browser-right-thumb img { animation-duration: 5s; animation-name: scrollCoverBrowserRight; animation-timing-function: cubic-bezier(1, 0.005, 0.305, 1); animation-direction: alternate; animation-iteration-count: infinite; animation-fill-mode: none; }
    @keyframes scrollCoverBrowserRight { 0% { transform: translateY(calc(-100% + 460px)); } 50% { transform: translateY(calc(-50% + 230px)); } 100% { transform: translateY(calc(-0% + 0px)); } }
}
@media screen and (min-width: 1024px){
    .browser-art-content{gap: 20px; padding: 0 40px;}
    .browser-art-left{flex: 1;}
    .browser-art-right{flex: 0 0 300px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .browser-art-content{gap: 20px; padding: 0 20px;}
    .browser-art-left{flex: 0 0 calc(50% - 10px);}
    .browser-art-right{flex: 0 0 calc(50% - 10px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){

.browser-art-left {
	transform: rotate(0deg);
	height: 200px;
	width: 100%;
}
.browser-art-right {
	transform: rotate(0deg);
	height: 200px;
	width: 100%;
}
}