
.featured-res-section{background: lightgray; background-blend-mode: normal, darken, normal;}
.featured-res-main{padding: 144px 0 0;}
.featured-res-title h1{margin-bottom: 0;}
.featured-res-list{padding: 6px;}
.featured-res-text{padding: 20px;}
.featured-res-text h2{color: var(--Navy);}
.featured-res-text h2:last-child{margin-bottom: 0;}
.featured-res-text h2 a:hover{color: var(--Orange);}
.featured-res-list:nth-child(2n+2):not(:nth-child(2n+4)) h2, .featured-res-list:nth-child(2n+3) h2{margin-bottom: 20px; font-size: 24px; line-height: 30px;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .featured-res-head{gap: 40px; padding: 0 0 40px;}
    .featured-res-title{flex: 1;}
    .featured-res-btn{flex: 0 0 420px;}
    .featured-res-row{gap: 40px; padding: 0 0 40px;} 
    .featured-res-list{flex: 0 0 calc(100% - 460px);}
    .featured-res-list:nth-child(2n+2):not(:nth-child(2n+4)){flex: 0 0 420px;}
    .featured-res-list:nth-child(2n+3){flex: 0 0 420px;}
}












