
.featured-res-section{
    background-color: rgba(255, 255, 255, 0.00);
    background-image: url("./images/featured-post-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal, darken, normal;
}
.featured-res-main{padding: 144px 0 0;}
.featured-res-title h1{margin-bottom: 0;}
.featured-res-list{padding: 6px; box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10);}
.featured-res-text{padding: 20px;}
.featured-res-text h2{color: var(--Navy);}
.featured-res-text h2:last-child{margin-bottom: 0;}
.featured-res-text h2 a{color: var(--Navy);}
.featured-res-text h2 a:hover{color: var(--Orange);}
.featured-res-list:nth-child(2n+2):not(:nth-child(2n+4)) h2, .featured-res-list:nth-child(2n+3) h2{margin-bottom: 20px; font-size: 24px; line-height: 30px;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .featured-res-head{gap: 40px; padding: 0 0 40px;}
    .featured-res-title{flex: 1;}
    .featured-res-btn{flex: 0 0 413px; padding-left: 20px;}
    .featured-res-btn::before{width: 1px; height: 100%; min-height: 50px; left: 0; top: 50%; transform: translateY(-50%); position: absolute; background-color: var(--Blue); opacity: 0.4; content: ""; display: block;}
    .featured-res-row{gap: 40px; padding: 0 0 40px;} 
    .featured-res-list{flex: 0 0 calc(100% - 460px);}
    .featured-res-list:nth-child(2n+2):not(:nth-child(2n+4)){flex: 0 0 420px;}
    .featured-res-list:nth-child(2n+3){flex: 0 0 420px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .featured-res-btn{flex: 0 0 405px;}
    .featured-res-row{gap: 30px;}
    .featured-res-list{flex: 0 0 calc(100% - 416px);}
    .featured-res-list:nth-child(2n+2):not(:nth-child(2n+4)){flex: 0 0 386px;}
    .featured-res-list:nth-child(2n+3){flex: 0 0 386px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .featured-res-head{display: block; margin-bottom: 38px;}
    .featured-res-title{margin-bottom: 16px;}
    .featured-res-row{gap: 32px; padding: 0 0 60px;}
    .featured-res-list{flex: 0 0 calc(50% - 16px);}
    .featured-res-text h2{font-size: 30px; line-height: 40px;}
    .featured-res-image img{min-height: 200px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .featured-res-main{padding: 119px 0 40px;}
    .featured-res-head{display: block;}
    .featured-res-title{margin-bottom: 50px;}
    .featured-res-row{display: block; padding: 0 0 18px;}
    .featured-res-list{margin-bottom: 24px;}
    .featured-res-thumb img{min-height: 210px;}
    .featured-res-text{padding: 20px 20px 44px;}
    .featured-res-text h2{font-size: 24px; line-height: 30px;}
    .featured-res-text p{display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; -webkit-line-clamp: 3;}
}







