


.get-author-main{gap: 20px;}
.get-author-img{flex: 0 0 96px;}
.get-author-text{flex: 1;}
.get-author-text span.h5{color: var(--Foreground);}
.get-answer-desc{margin-bottom: 40px;}
.get-answer-desc h2{margin-bottom: 24px;}
.get-answer-desc hr{margin: 0 0 24px;}
.get-answer-desc p{opacity: 0.8;}
ul.get-author-links{margin: 0;}
ul.get-author-links li{margin: 7px 0 0;}
ul.get-author-links li::before{display: none;}
ul.get-author-links li a{gap: 10px; color: var(--Blue, #1335AF); font-size: 16px; font-weight: 700; line-height: 24px;}
ul.get-author-links li a:hover{color: var(--Orange);}
ul.get-author-links li a svg{width: 23px; height: 23px;}
ul.get-author-links li:not(:first-child) a{gap: 8px;}
ul.get-author-links li:not(:first-child) a svg{width: 24px;}
.no_get_answer{display: block;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .get-answer-main{gap: 80px; padding: 80px 0 77px;}
    .get-answer-text{flex: 0 0 350px; padding-top: 4px;}
    .get-answer-form{flex: 1;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .get-answer-main{gap: 60px;}
    .get-answer-text{flex: 0 0 322px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .get-answer-main{padding: 69px 0 80px; display: block;}
    .get-answer-text{margin-bottom: 60px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .get-answer-main{padding: 39px 0 40px; display: block;}
    .get-answer-text{margin-bottom: 40px;}   
    .get-answer-desc h2{font-size: 40px; line-height: 50px;}
}

















