

.have-q-head{margin-bottom: 31px;}
.have-q-icon{margin-bottom: 16px;}


/* media css starts here */
@media screen and (min-width: 1024px){
    .have-q-main{gap: 80px; padding: 83px 0 80px;}
    .have-q-text{flex: 0 0 300px;}
    .have-q-right{flex: 1;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .have-q-wrap{padding: 0 0 76px;}
    .have-q-main{display: block; padding: 42px 0 0;}
    .have-q-text{margin-bottom: 43px;}
    .have-q-right{margin-bottom: 40px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .have-q-wrap{padding: 0 0 76px;}
    .have-q-main{display: block; padding: 42px 0 0;}
    .have-q-text{margin-bottom: 43px;}
    .have-q-right{margin-bottom: 40px;}
}








