

.home-banner-bg{background-image: linear-gradient(to bottom, rgba(240, 242, 250, 0) 0%, #f0f2fa 100%), linear-gradient(to bottom, #f0f2fa, #f0f2fa); z-index: -2;}
.home-banner-video video{ top: 50%; left: 50%; width: 100%; height: 100%; transform: translate(-50%, -50%); position: absolute; object-fit: cover; }
.home-banner-text h1{color: var(--Navy);}
.home-banner-thumb img{object-fit: cover; border-radius: 6px; position: relative;}
.home-thumb-1{top: 100px; left: 0; width: 213px; height: 141px;}
.home-thumb-2{top: 52px; left: 227px; min-width: 493px; width: 100%; height: 131px;}
.home-thumb-2 img{object-position: left top;}
.home-thumb-3{top: 261px; left: 0; width: 212px; height: 282px;}
.home-thumb-4{top: 198px; left: 227px; width: 212px; height: 162px;}
.home-thumb-5{top: 376px; left: 227px; width: 212px; height: 162px;}
.home-thumb-6{top: 198px; left: 454px; width: 212px; height: 266px;}
.home-thumb-7{top: 555px; left: 75px; width: 364px; height: 119px;}
.home-thumb-8{top: 480px; left: 454px; width: 212px; height: 266px;}
.home-thumb-8 img{border-radius: 8px 8px 0 0;}

/*-- animation css starts --*/
.home-banner-thumb img{animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.5s ease;}
.home-banner-thumb::before, .home-thumb-7::after{background: var(--Background, #F0F2FA); backdrop-filter: blur(2px); animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.5s ease; z-index: -1; content: ""; display: block; position: absolute;}
.home-thumb-1::before{width: 56px; height: 56px; top: 162px; left: 130px;  opacity: 0.3; animation-name: home-anim-1;}
@keyframes home-anim-1{ from{ top: 162px; left: 130px; } to { top: 122px; left: 130px; opacity: 0; } }
.home-thumb-2::before{width: 426px; height: 426px; top: 20px; left: -13px; opacity: 0.3; animation-name: home-anim-2;}
@keyframes home-anim-2{ from{ top: 72px; left: 80px; } to { width: 130px; height: 130px; top: -52px; left: 362px; } }
.home-thumb-7::before{width: 30px; height: 30px; animation-name: home-anim-7; }
@keyframes home-anim-7{ from{ bottom: 32px; left: 32px; } to{ bottom: -15px; left: -15px; } }
.home-thumb-7::after{width: 87px; height: 87px; bottom: 30px; right: 86px; opacity: 0.3; animation-name: home-anim-7-after;}
@keyframes home-anim-7-after{ from{ bottom: 30px; right: 86px; } to{ bottom: -43px; right: 46px; } }
.home-thumb-8::before{width: 199px; height: 199px; bottom: 120px; right: -14px; opacity: 0.6; animation-name: home-anim-8;}
@keyframes home-anim-8{ from{ bottom: 120px; right: -14px; } to{ width: 117px; height: 117px; right: -52px; } }
/*-- animation css ends --*/

/* media css starts here */
@media screen and (min-width: 1024px){
    .home-banner-main{padding: 80px 0 2px; flex-direction: row-reverse;} 
    .home-banner-btns{padding-top: 14px; gap: 16px;}

    /*-- animation css starts --*/
    .home-thumb-1 img{animation-name: anim-down-1; }
    .home-thumb-2 img{animation-name: animRight; }
    .home-thumb-3 img{animation-name: animdUp; }
    .home-thumb-4 img{animation-name: anim-down-2;}
    .home-thumb-5 img{animation-name: animdUp; }
    .home-thumb-6 img{animation-name: animRight; }
    .home-thumb-7 img{animation-name: animRight; }
    .home-thumb-8 img{animation-name: animdUp; }
    @keyframes anim-down-1{ from{top: -162px;} to{top: 0;} }
    @keyframes anim-down-2{ from{top: -256px;} to{top: 0;} }
    @keyframes animdUp{ from{transform: translateY(100vh);} to{transform: translateY(0%);} }
    @keyframes animDown{ from{transform: translateY(-100vh);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/
}
@media screen and (min-width: 1440px){
    .home-banner-wrapper{max-width: 1600px; margin: 0 auto;}
    .home-banner-images{flex: 0 0 720px; height: 725px; right: -80px;}
    .home-banner-text{max-width: 560px; padding-top: 148px; flex: 0 0 calc(100% - 720px);}
}
@media only screen and (max-width: 1439px) and (min-width: 1280px){
    .home-banner-images{flex: 0 0 720px; height: 725px; right: -80px;}
    .home-banner-text{flex: 0 0 calc(100% - 720px); padding-top: 148px; }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .home-banner-main{padding: 123px 0 56px; align-items: center;}
    .home-banner-images{flex: 0 0 510px; height: 458px; right: -40px;}
    .home-banner-text{flex: 0 0 calc(100% - 510px);}
    .home-banner-text h1{font-size: 40px; line-height: 50px;}
    .home-banner-text h1 br{display: none;}
    
    .home-banner-thumb img{object-fit: cover; border-radius: 3px;}
    .home-thumb-1{top: 38px; left: 12px; width: 121px; height: 86.97px;}
    .home-thumb-2{top: 16px; left: 149px; width: 498.8px; height: 81.94px;}
    .home-thumb-2 img{object-position: left top;}
    .home-thumb-3{top: 141px; left: 12px; width: 120.7px; height: 154.43px;}
    .home-thumb-4{top: 115px; left: 150px; width: 120.7px; height: 96.95px;}
    .home-thumb-5{top: 228px; left: 150px; width: 120.7px; height: 96.95px;}
    .home-thumb-6{top: 115px; left: 287px; width: 120.7px; height: 146.35px;}
    .home-thumb-7{top: 341px; left: 78px; width: 192.9px; height: 96.52px;}
    .home-thumb-8{top: 278px; left: 286px; width: 120.7px; height: 121.64px;}
    .home-thumb-8 img{border-radius: 3px 3px 0 0;}

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .home-banner-main{padding: 80px 0 54px; display: block;} 
    .home-banner-images{flex: 0 0 720px; height: 725px; right: -8px;}
    .home-banner-text{max-width: 560px; padding-top: 64px; flex-shrink: 1;}
    .home-banner-btns{padding-top: 6px; gap: 16px;}
    .home-thumb-2 img{border-radius: 8px 0 0 8px;}
    .home-thumb-8 img{border-radius: 8px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    /*-- animation css starts --*/
    .home-thumb-1 img{animation-name: animLeft; }
    .home-thumb-2 img{animation-name: animRight; }
    .home-thumb-3 img{animation-name: animLeft; }
    .home-thumb-4 img{animation-name: animRight;}
    .home-thumb-5 img{animation-name: animLeft; }
    .home-thumb-6 img{animation-name: animRight; }
    .home-thumb-7 img{animation-name: animLeft; }
    .home-thumb-8 img{animation-name: animRight; }
    @keyframes animLeft{ from{transform: translateX(-100vw);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .home-banner-main{padding: 80px 0 40px; display: block;}
    .home-banner-images{height: 342px;}
    .home-banner-text{font-size: 16px; line-height: 24px;}
    .home-banner-text h1{margin-bottom: 20px; font-size: 32px; line-height: 40px;}
    .home-banner-text hr{margin-bottom: 20px;}
    .home-banner-text p{margin-bottom: 20px;}
    .home-banner-btns{gap: 15px;}

    .home-banner-thumb img{object-fit: cover; border-radius: 3px;}
    .home-thumb-1{top: 38px; left: 12px; width: 101px; height: 66.97px;}
    .home-thumb-2{top: 16px; left: 121px; width: 478.8px; min-width: 478px; height: 61.94px;}
    .home-thumb-2 img{object-position: left top;}
    .home-thumb-3{top: 112px; left: 12px; width: 100.7px; height: 134.43px;}
    .home-thumb-4{top: 86px; left: 121px; width: 100.7px; height: 76.95px;}
    .home-thumb-5{top: 171px; left: 121px; width: 100.7px; height: 76.95px;}
    .home-thumb-6{top: 86px; left: 230px; width: 100.7px; height: 126.35px;}
    .home-thumb-7{top: 256px; left: 49px; width: 172.9px; height: 56.52px;}
    .home-thumb-8{top: 220px; left: 230px; width: 100.7px; height: 111.64px;}
    .home-thumb-8 img{border-radius: 3px 3px 0 0;}

    .home-banner-thumb:first-child::before { width: 26px; height: 26px; top: 28px; left: 42px; }
    @keyframes home-anim-1{ from{top: 28px; left: 42px; } to { top: 0; left: 0; opacity: 0; } }

    .home-thumb-2::before { width: 62px; height: 62px; top: 17px; right: 369px; left: auto; }
    @keyframes home-anim-2{ from{ top: 17px; right: 369px; left: auto; } to { width: 62px; height: 62px; top: -17px; right: 269px; left: auto; } }
    .home-thumb-7::before { width: 14px; height: 14px; }
    @keyframes home-anim-7{ from{ bottom: 24px; left: 24px;} to{bottom: -7px; left: -7px;} }
    .home-thumb-7::after { width: 41px; height: 41px; bottom: 32px; right: 60px; }
    @keyframes home-anim-7-after{ from{ bottom: 30px; right: 60px; } to{ bottom: -20px; right: 30px; } }
    .home-thumb-8::before{width: 55px; height: 55px; bottom: 58px; right: 45px; }
    @keyframes home-anim-8{ from{ bottom: 58px; right: 45px; } to{ width: 55px; height: 55px; bottom: 30px; right: -14px; } }
}