

.integrations-bg{background-position: center top; background-repeat: no-repeat; background-size: cover;}
.integrations-banner-text{font-size: 1.25rem; line-height: 1.75rem;}
.integrations-banner-text h1{margin-bottom: 32px; color: var(--Navy);}
.integrations-banner-text span.optional-text{margin-bottom: 32px;}
.integrations-banner-text hr{margin-bottom: 31px;}

.integrations-srch-from input{ padding: 15px 47px 17px 17px;  font-size: 1.125rem; line-height: 1.375rem; font-weight: 700; color: var(--Navy); border-radius: 8px; border: 2px solid var(--Card-Stroke, rgba(217, 223, 242, 0.25)); background: var(--White, #FFF); box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10); }
.integrations-srch-from input::-webkit-input-placeholder{color:rgb(24 42 84 / 50%);}
.integrations-srch-from input:-moz-placeholder{color:rgb(24 42 84 / 50%);}
.integrations-srch-from input::-moz-placeholder{color:rgb(24 42 84 / 50%);}
button.integrations-srch-btn{top: 50%; right: 16px; transform: translateY(-50%); padding: 0; font-size: 1.5rem; font-weight: 900; line-height: 1.5rem; background-image: linear-gradient(315deg, #F9662D 0.31%, #FEC74D 82.24%, #FFDC54 100.31%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; } 
button.integrations-srch-btn:hover{background-image: none; -webkit-text-fill-color: var(--Blue); color: var(--Blue);}

/*-- animation css --*/
.i-circle .i-circle-bg{width: 0; height: 0; top: 50%; left: 50%; transform: translate(-50%, -50%); animation-name: i_circle; animation-duration: 2s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);}
@keyframes i_circle{ 0%{width: 0%; height: 0;} 100%{width: 100%; height: 100%;} }
.i-circle-1 .i-circle-bg{animation-delay: 0ms;}
.i-circle-2 .i-circle-bg{animation-delay: 1000ms;}
.i-circle-3 .i-circle-bg{animation-delay: 2000ms;}
.i-circle-4 .i-circle-bg{animation-delay: 3000ms;}
.i-circle-1 figure{opacity: 0; animation-delay: 4000ms; animation-name: i_figure; animation-duration: 2s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); position: relative; z-index: 1;}
@keyframes i_figure{ 0%{opacity: 0;} 100%{opacity: 1;} }
.i-circle-icon{opacity: 0; animation-name: i_icon; animation-duration: 2s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
@keyframes i_icon{ 0%{opacity: 0;} 100%{opacity: 1;} }
.i-icon-9{animation-delay: 5000ms;}
.i-icon-10{animation-delay: 5500ms;}
.i-icon-11{animation-delay: 6000ms;}
.i-icon-8{animation-delay: 6500ms;}
.i-icon-2{animation-delay: 7000ms;}
.i-icon-3{animation-delay: 7500ms;}
.i-icon-4{animation-delay: 8000ms;}
.i-icon-5{animation-delay: 8500ms;}
.i-icon-6{animation-delay: 9000ms;}
.i-icon-7{animation-delay: 9500ms;}
.i-icon-1{animation-delay: 10000ms;}
/*-- animation css --*/

/* media css starts here */
@media screen and (min-width: 1200px){
    .integrations-banner-main{padding: 110px 0 24px; gap: 102px; flex-direction: row-reverse;}
    .integrations-banner-text{flex: 0 0 560px;}
    .integrations-srch-from{margin-top: 32px; max-width: 420px; }
    .integrations-banner-images{flex: 1; max-width: 490px; margin-left: auto; margin-right: 32px;}
}
@media screen and (min-width: 1024px){
    .integrations-bg{background-image: url('images/integrations-bg@2x.jpg');}
    .i-circle-main{width: 490px; height: 490px;}
    .i-circle{margin: auto; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
    .i-circle-1{ width: 128px; height: 128px; top: 0; left: 0; transform: none; }
    .i-circle-2{width: 298.9px; height: 298.9px; }
    .i-circle-3{ width: 403.433px; height: 403.433px; }
    .i-circle-4{ width: 490px; height: 490px; }
    .i-circle-1 .i-circle-bg{opacity: 1; background-image: linear-gradient(315deg, #182a54 0%, #1335af); border: none;}
    .i-circle-bg{opacity: 0.1; width: 100%; height: 100%; top: 0; left: 0; border: 4px solid var(--White, #FFF); background: radial-gradient(50% 50% at 50% 50%, rgba(19, 53, 175, 0.03) 65%, #1335AF 100%); z-index: -1;}
    .i-circle-icon{width: 48px; height: 48px; z-index: 1;}
    .i-circle-icon img{width: 100%; object-fit: cover; box-shadow: 0px 5px 20px 0px rgba(24, 42, 84, 0.10);}
    .i-icon-1{bottom: 82px; left: 18px;}
    .i-icon-2{bottom: 268px; left: -14px;}
    .i-icon-3{top: 5px; left: 113px;}
    .i-icon-4{top: 7px; right: 90px;}
    .i-icon-5{top: 147px; right: -5px;}
    .i-icon-6{top: 284px; right: -13px;}
    .i-icon-7{bottom: -12px; right: 157px;}
    .i-icon-8{bottom: 48px; right: 302px;}
    .i-icon-9 { bottom: 188px; right: 364px; }
    .i-icon-10{top: 89px; right: 181px;}
    .i-icon-11 { bottom: 124px; right: 113px; }
    .integrations-static-image{flex: 1; right: -40px; padding: 60px 0; position: relative;}
}
@media screen and (max-width: 1260px) and (min-width: 1200px){
    .integrations-banner-main{gap: 50px;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .integrations-banner-main{padding: 110px 0 24px; gap: 32px; flex-direction: row-reverse;}
    .integrations-banner-text{flex: 0 0 550px;}
    .integrations-srch-from{margin-top: 31px; max-width: 420px; }
    .integrations-banner-images{flex: 0 0 298px; margin-left: auto; margin-right: 32px;}
}
@media screen and (max-width: 1199px) and (min-width: 200px){
    .i-circle-main{width: 298px; height: 298px; margin: auto;}
    .i-circle{margin: auto; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
    .i-circle-1{ width: 79px; height: 79px; top: 0; left: 0; transform: none; }
    .i-circle-2{width: 179px; height: 179px; }
    .i-circle-3{ width: 244px; height: 244px; }
    .i-circle-4{ width: 298px; height: 298px; }
    .i-circle-1 .i-circle-bg{opacity: 1; background-image: linear-gradient(315deg, #182a54 0%, #1335af); border: none;}
    .i-circle-bg{opacity: 0.1; width: 100%; height: 100%; top: 0; left: 0; background: radial-gradient(50% 50% at 50% 50%, rgba(19, 53, 175, 0.03) 65%, #1335AF 100%); z-index: -1;}
    .i-circle-icon{width: 30px; height: 30px; z-index: 1;}
    .i-circle-icon img{width: 100%; object-fit: cover; box-shadow: 0px 5px 20px 0px rgba(24, 42, 84, 0.10);}
    .i-icon-1{bottom: 44px; left: 12px;}
    .i-icon-2{bottom: 160px; left: -12px;}
    .i-icon-3{top: 6px; left: 64px;}
    .i-icon-4{top: 5px; right: 51px;}
    .i-icon-5{top: 92px; right: -7px;}
    .i-icon-6{top: 177px; right: -11px;}
    .i-icon-7{bottom: -12px; right: 95px;}
    .i-icon-8{bottom: 28px; left: 84px;}
    .i-icon-9 { bottom: 114px; left: 47px; }
    .i-icon-10{top: 55px; right: 108px;}
    .i-icon-11 { bottom: 71px; right: 67px; }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .integrations-bg{background-image: url('images/integrations-bg@2x.jpg');}
    .integrations-banner-main{padding: 123px 0 24px; gap: 50px; flex-direction: row-reverse;}
    .integrations-banner-text{flex:1; font-size: 1rem; line-height: 1.5rem;}
    .integrations-banner-text span.optional-text{margin-bottom: 21px;}
    .integrations-banner-text h1{margin-bottom: 20px; font-size: 2rem; line-height: 2.5rem;}
    .integrations-banner-text hr{margin-bottom: 20px;}
    .integrations-srch-from{margin-top: 31px; max-width: 420px; }
    .integrations-banner-images{flex: 0 0 298px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .integrations-bg{background-image: url('images/integrations-bg-mobile@2x.jpg');}
    .integrations-banner-main{padding: 123px 0 37px; display: block;}
    .integrations-banner-text{padding-top: 33px; font-size: 1rem; line-height: 1.5rem;}
    .integrations-banner-text span.optional-text{margin-bottom: 21px;}
    .integrations-banner-text h1{margin-bottom: 20px; font-size: 2rem; line-height: 2.5rem;}
    .integrations-banner-text hr{margin-bottom: 20px;}
}