







.intro-numbers{ color: var(--Blue, #1335AF); font-family: "arboria", sans-serif; font-size: 80px; font-weight: 700; line-height: 64px; }
.intro-symbol{ color: transparent; -webkit-text-stroke: 1px var(--Orange) }



/* media css starts here */
@media screen and (min-width: 1024px){
    .intro-head{gap: 60px;}
    .intro-text{flex: 0 0 394px;}
    .intro-desc{flex: 1; padding: 0 60px; border-left: 1px solid #000; border-right: 1px solid #000;}

    .intro-row{gap: 64px}
    .intro-list{padding: 20px; flex: 0 0 calc(25% - 48px);}
}