

.intro-title h2{margin-bottom: 21px;}
.intro-numbers{margin-bottom: 13px; color: var(--Blue, #1335AF); font-family: "arboria", sans-serif; font-size: 80px; font-weight: 700; line-height: 70px; }
.intro-number.hover{top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: all 0.5s; z-index: -1; color: transparent; -webkit-text-stroke: 1px var(--Orange);}
.intro-list:hover .intro-number.hover{top: 3px; left: 3px; visibility: visible; opacity: 1;}
.intro-symbol{color: transparent; -webkit-text-stroke: 1px var(--Orange); transition: all 0.5s; position: relative; }
.intro-list:hover .intro-symbol{transform: translate(3px, 3px);}
.intro-text h2{margin-bottom: 15px; color: var(--Navy);}
.no_intro_description{display: block;}
.no_intro_title .intro-description{padding: 0; border: none;}

/* media css starts here */
@media screen and (min-width: 1300px){
    .intro-row{gap: 64px}
    .intro-list{padding: 20px; flex: 0 0 calc(25% - 48px); max-width: calc(25% - 48px);}
}
@media screen and (min-width: 1024px){
    .intro-main{padding: 80px 0 58px;}
    .other-benficial-section .intro-main{padding-bottom: 82px;}
    body.page-template-product-details .intro-main{padding: 39px 0 42px;}
    body.page-template-story .intro-main{padding-bottom: 82px;}
    body.page-template-integrations .intro-main{padding-bottom: 42px;}
    body.page-template-integrations .intro-head{margin-bottom: 66px;}
    .intro-head{gap: 60px; margin-bottom: 61px;}
    .intro-title{flex: 0 0 394px;}
    .intro-description{flex: 1; padding: 0 60px; border-left: 1px solid rgb(19 53 175 / 40%); border-right: 1px solid rgb(19 53 175 / 40%);}

    .intro-links{opacity: 0; transform: translateY(15px); transition: all 0.5s ease;}
    .intro-list:hover .intro-links{opacity: 1; transform: translateY(0);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .intro-row{gap: 32px}
    .intro-list{flex: 0 0 calc(25% - 24px);}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .intro-main{padding: 80px 0 58px;}
    .intro-head{margin-bottom: 61px; display: block;}
    .intro-title{margin-bottom: 45px;}
    .intro-description{padding: 0 32px; border-left: 1px solid rgb(19 53 175 / 40%); border-right: 1px solid rgb(19 53 175 / 40%);}
    .intro-row{gap: 32px}
    .intro-list{flex: 0 0 calc(50% - 16px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .intro-main{padding: 40px 0;}
    .intro-head{display: block; margin-bottom: 47px;}
    body.page-template-product-details .intro-head{margin-bottom: 67px;}
    body.page-template-integrations .intro-head{margin-bottom: 64px;}
    .intro-title{margin-bottom: 39px;}
    .intro-title h2{font-size: 40px; line-height: 50px;}
    .intro-description{padding: 40px 0 39px; border-top: 1px solid rgb(19 53 175 / 40%); border-bottom: 1px solid rgb(19 53 175 / 40%);}
    .intro-row{display: block;}
    .intro-list:not(:last-child){margin-bottom: 17px;}
    .delighter.started .intro-number.hover{top: 3px; left: 3px; visibility: visible; opacity: 1;}
    .delighter.started .intro-symbol{transform: translate(3px, 3px);}
}