

.integrations-card{padding: 16px; border: 1px solid var(--Card-Stroke, rgba(217, 223, 242, 0.50)); background: var(--White, #FFF); box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10);}
.integrations-card span.h4{margin: -4px 0 0; display: block; flex: 1; width: calc(100% - 136px);}
.integrations-card span.h4 a{color: var(--Navy);}
.integrations-card span.h4 a:hover{color: var(--Orange);}
.card-icon{width: 64px;}
.card-link{width: 32px; display: flex; align-items: center;}
div.no_cards{display: block;}

/* media css starts here */
@media screen and (min-width: 1300px){
    .integrations-main{gap: 80px;}
    .integrations-text{flex: 0 0 350px;}
    .integrations-cards{gap: 32px;}
    .integrations-card{flex: 0 0 calc(50% - 16px);}
}
@media screen and (min-width: 1024px){
    .integrations-main{padding: 80px 0;}
    .integrations-cards{flex: 1;}
    .integrations-card{gap: 20px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .integrations-main{gap: 32px;}
    .integrations-text{flex: 0 0 300px;}
    .integrations-cards{gap: 24px;}
    .integrations-card{flex: 0 0 calc(50% - 16px);}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
    .integrations-main{padding: 60px 0; display: block;}
    .integrations-text{margin-bottom: 54px;}
    .integrations-cards{gap: 32px;}
    .integrations-card{flex: 0 0 calc(50% - 16px); gap: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .integrations-main{padding: 40px 0; display: block;}
    .integrations-text{margin-bottom: 40px;}
    .integrations-cards{gap: 24px; flex-direction: column;}
    .integrations-card{gap: 17px;}
}