

.linear-spy{overflow-x: hidden; height: 52px;}
ul.linear-links{margin: 0; gap: 10px; height: 52px; min-width: max-content;}
ul.linear-links li{margin: 0;}
ul.linear-links li::before{display: none;}
ul.linear-links li a{padding: 12px; color: var(--Navy, #182A54); font-size: 16px; font-weight: 400; line-height: 24px; border-radius: 8px; border: 2px solid var(--Elevated, #F0F2FA); display: block;}
ul.linear-links li a.active, ul.linear-links li a:hover{color: var(--Blue); font-weight: 700; background: var(--Elevated, #F0F2FA);}


/* media css starts here */
@media screen and (min-width: 1024px){
    .linear-prod-main{padding: 81px 0 0;}
    .linear-prod-head{gap: 60px; margin-bottom: 61px;}
    .linear-prod-title{flex: 0 0 394px;}
    .linear-prod-description{flex: 1; padding: 0 60px; border-left: 1px solid rgb(19 53 175 / 40%); border-right: 1px solid rgb(19 53 175 / 40%);}

}