

.masthead-text span.optional-text{margin-bottom: 25px;}
.masthead-text h1{margin-bottom: 23px; color: var(--Navy);}
.masthead-text hr{margin-bottom: 24px;}
.masthead-btns{gap: 16px; padding-top: 6px;}

/* media css starts here */
@media screen and (min-width: 1360px){
    .masthead-main{gap: 80px;}
    .masthead-text{flex: 0 0 560px; padding-top: 54px;}
    .masthead-image{flex: 0 0 calc(100% - 640px); max-width: calc(100% - 640px);}
    .masthead-pos{min-width: 720px; min-height: 540px;}
}
@media screen and (min-width: 1024px){
    .masthead-main{padding: 96px 0 74px; flex-direction: row-reverse;}
    body.page-template-asmbl-story .masthead-text h1{max-width: 100%;}
    body.page-template-use-case-detail .masthead-text h1{max-width: 100%;}
}   
@media only screen and (max-width: 1359px) and (min-width: 1024px){
    .masthead-section .container{padding-right: 0;}
    .masthead-main{align-items: center; gap: 40px;}
    .masthead-text{padding: 74px 0; flex: 0 0 460px;}
    .masthead-image{flex: 0 0 calc(100% - 500px); max-width: calc(100% - 500px);}
    .masthead-pos{max-width: 720px; margin-left: auto;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .masthead-main{padding: 80px 0 0px; display: block;}
    .masthead-image{margin-bottom: 30px; width: calc(100% + 32px);} 
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .masthead-main{padding: 119px 0 38px; display: block;}
    .masthead-image{margin-bottom: 15px; width: calc(100% + 24px);}
    .masthead-text{font-size: 16px; line-height: 24px;}
    .masthead-text span.optional-text{margin-bottom: 21px;}
    .masthead-text h1{margin-bottom: 20px; font-size: 32px; line-height: 40px;}
    .masthead-text hr{margin-bottom: 20px;}
}