

.more-inte-card{padding: 16px; border: 1px solid var(--Card-Stroke, rgba(217, 223, 242, 0.50)); background: var(--White, #FFF); box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10);}
.more-inte-card span.h4{margin: 0; display: block; flex: 1; color: var(--Navy);}
.more-inte-card span.h4 a{color: var(--Navy);}
.more-inte-card span.h4 a:hover{color: var(--Blue);}
.more-card-icon{width: 64px;}
.more-card-link{width: 30px;}
.more-card-link svg{margin-left: 0;}


/* media css starts here */
@media screen and (min-width: 1024px){
    .more-inte-main{padding: 80px 0 80px;}
    .more-intro-main{margin-bottom: 40px; gap: 31px;}
    .more-intro-title{flex: 1; padding-right: 31px; border-right: 1px solid  rgb(19 53 175 / 40%);}
    .more-intro-link{width: fit-content;}
    .more-inte-cards{gap: 32px;}
    .more-inte-card{flex: 0 0 calc(33.3333% - 22px); gap: 20px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .more-inte-main{padding: 60px 0 80px;}
    .more-intro-main{margin-bottom: 40px; gap: 31px;}
    .more-intro-title{flex: 1; padding-right: 31px; border-right: 1px solid  rgb(19 53 175 / 40%);}
    .more-intro-link{width: fit-content;}
    .more-inte-cards{gap: 32px;}
    .more-inte-card{flex: 0 0 calc(50% - 16px); gap: 16px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .more-inte-main{padding: 41px 0 40px;}
    .more-intro-main{margin-bottom: 38px; display: block;}
    .more-inte-cards{display: block; padding-bottom: 16px;}
    .more-inte-card{gap: 16px; margin-bottom: 24px;}
    .more-inte-card span.h4{padding-left: 4px; margin-top: -2px;}
}