
.prod-overview-bg{background-color: var(--White-60); border: 1px solid rgba(217, 223, 242, 0.50); transition: all 0.5s ease;}
.prod-overview-bg:hover{border-color: var(--Blue); background-color: var(--White);}
.gray-bg .prod-overview-bg{border-color: var(--White-60);}
.gray-bg .prod-overview-bg.active{background-color: var(--White); border-color: var(--White); box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10);}

.prod-overview-bg:not(:last-child){margin-bottom: 16px;}
.prod-overview-desc{margin-bottom: 31px;}
.prod-art-head{gap: 7px; padding: 16px 14px 16px 15px;  cursor: pointer; color: var(--Navy, #182A54); font-size: 20px; font-weight: 400; line-height: 25px;}
.prod-art-head.open{color: var(--Blue);}
.prod-art-title{flex: 1;}
.prod-art-icon{width: 31px;}
.prod-art-content{padding: 4px 14px 14px 15px; display: none;}
.prod-art-content p:not(:last-child){margin-bottom: 20px;}


/* media css starts here */
@media screen and (min-width: 1024px){
    body.page-template-solutions-industry-detail .prod-overview-wrap{padding: 8px 0 0122px;}
    body.page-template-solution-company-detail .prod-overview-wrap{padding-bottom: 122px;}
    body.page-template-marketing .prod-overview-wrap{padding: 23px 0 122px;}
    body.page-template-product section.gray-bg .prod-overview-wrap{padding: 28px 0 0;}
    body.page-template-product section.gray-bg .prod-overview-main{padding-bottom: 80px;}
    body.page-template-product section.white-bg .prod-overview-main{padding-bottom: 40px;}

    .prod-overview-wrap{padding: 48px 0 48px;} 
    .prod-overview-section:not(.gray-bg) .prod-overview-wrap{padding: 39px 0 40px;}
    .prod-overview-main{flex-direction: row-reverse;}
    .white-bg .prod-overview-main{flex-direction: row;}
    .prod-art-title{flex: 1; gap: 4px; display: flex; align-items: center;}
    .prod-art-title strong{white-space: nowrap;}
    .prod-overview-text{padding-top: 40px;}
    .prod-overview-pos{position: relative; min-height: 600px;}
    .prod-image-list.active-slide{transform: translateX(0);}
    .prod-image-list{ top: 0; left: 0; width: 100%; height: 100%; transition: all .5s ease; position: absolute; transform: translateX(100vw); }
    .prod-overview-image{min-height: 600px;}
    .white-bg .prod-image-list{transform: translateX(-100vw);}
    .white-bg .prod-image-list.active-slide{transform: translateX(0);}
    .prod-tabs-main{display: none;}
}
@media screen and (min-width: 1280px){
    .prod-overview-main{gap: 80px; }
    .prod-overview-text{flex: 0 0 480px;}
    .prod-overview-image{flex: 0 0 calc(100% - 560px); max-width: calc(100% - 560px);}
    .prod-overview-pos{min-width: 800px;}
    .white-bg .prod-overview-pos{margin-left: -160px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .prod-overview-section .container{padding: 0;}
    .prod-overview-text{flex: 0 0 480px; padding: 0 40px;}
    .prod-art-title{flex-direction: column; align-items: flex-start;}
    .prod-art-title span{display: none;}
    .prod-overview-image{flex: 1;}
    .prod-image-thumb img{object-position: center left;}
    .white-bg .prod-overview-pos{margin-left: -160px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    body.page-template-solutions-industry-detail .prod-overview-wrap{padding: 20px 0 0;}
    body.page-template-solutions-industry-detail .prod-tabs-main{padding: 0 0 60px;}
    body.page-template-solution-company-detail .prod-overview-wrap{padding: 20px 0 0;}
    body.page-template-solution-company-detail .prod-tabs-main{padding: 0 0 60px;}

    .prod-overview-wrap{padding: 60px 0 60px;}
    .prod-overview-main{display: none;}
    .prod-tabs-main{padding: 0 0 48px;}

    .prod-tabs-desc h2{margin-bottom: 0; text-align: center;}
    ul.prod-tab-links{margin: 0; gap: 0 4px;}
    ul.prod-tab-links li::before{display: none;}
    ul.prod-tab-links li{margin: 0; flex: 1;}
    ul.prod-tab-links li.prod-tab-active{flex: 0 0 482px;}
    ul.prod-tab-links li a{padding: 14px; width: 100%; height: 60px; gap: 8px; justify-content: center; border-radius: 8px 8px 0px 0px; border: 2px solid var(--Card-Stroke, rgba(217, 223, 242, 0.50)); border-bottom: none; background-color: rgba(255, 255, 255, 0.60);}
    ul.prod-tab-links li.prod-tab-active a{justify-content: flex-start;}
    ul.prod-tab-links li a span{display: none; color: var(--Blue);}
    ul.prod-tab-links li.prod-tab-active a span{gap: 4px; display: flex; flex-wrap: nowrap;}
    ul.prod-tab-links li a figure{width: 32px;}
    ul.prod-tab-links li a img{width: 32px;}
    ul.prod-tab-links li.prod-tab-active a::after{width: 100%; height: 2px; bottom: -2px; left: 0; content: ""; display: block; background-color: var(--White); position: absolute;}

    .gray-bg ul.prod-tab-links{margin-bottom: -1px; gap: 0 8px; border-bottom: none;}
    .gray-bg ul.prod-tab-links li a{border: none; }
    .gray-bg ul.prod-tab-links li.prod-tab-active a{background-color: var(--White);}
    .gray-bg ul.prod-tab-links li.prod-tab-active a::after{display: none;}


    .prod-tab-content:first-child{display: block;}
    .prod-tab-content{display: none; padding: 20px 24px 24px; border-radius: 0 0 8px 8px; border: 2px solid var(--Card-Stroke, rgba(217, 223, 242, 0.50)); border-top: none;}
    .prod-tab-head{display: none;}
    .gray-bg .prod-tab-content{border-color: var(--White);}

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    body.page-template-solutions-industry-detail .prod-overview-wrap{padding: 57px 0 0;}
    body.page-template-solutions-industry-detail .prod-tabs-main{padding: 0 0 40px;}

    body.page-template-solution-company-detail .prod-overview-wrap{padding: 57px 0 0;}
    body.page-template-solution-company-detail .prod-tabs-main{padding: 0 0 40px;}

    .prod-overview-wrap{padding: 40px 0 40px;}
    .prod-overview-main{display: none;}
    .prod-tabs-main{padding: 0 0 48px;}


    .prod-tabs-desc h2{margin-bottom: 0; text-align: center;}
    ul.prod-tab-links{margin: 0; gap: 4px;}
    ul.prod-tab-links li::before{display: none;}
    ul.prod-tab-links li{margin: 0; flex: 0 0 calc(25% - 3px);}
    ul.prod-tab-links li a{width: 100%; height: 60px; border-radius: 12px 12px 0px 0px; justify-content: center;}
    ul.prod-tab-links li a figure{display: flex; align-items: center; justify-content: center;}
    ul.prod-tab-links li a img{width: 32px; height: 32px; object-fit: contain;}
    ul.prod-tab-links li a span{display: none;}

    .white-bg ul.prod-tab-links li a{border: 2px solid var(--Card-Stroke); background-color: rgba(255, 255, 255, 0.60); }
    .white-bg ul.prod-tab-links li.prod-tab-active a{border-bottom-color: transparent; background-color: var(--White);}

    .gray-bg ul.prod-tab-links{gap: 8px;}
    .gray-bg ul.prod-tab-links li{flex: 0 0 calc(25% - 6px);}
    .gray-bg ul.prod-tab-links li a{background-color: rgba(255, 255, 255, 0.60);}
    .gray-bg ul.prod-tab-links li.prod-tab-active a{background-color: var(--White);}

    .prod-tab-content:first-child{display: block;}
    .prod-tab-content{display: none; padding: 20px 24px 24px; border-radius: 0 0 12px 12px; border: 2px solid var(--White); border-top: none;}
    .prod-tab-head{margin-bottom: 14px;}
    .prod-tab-head span{margin-bottom: 3px; color: var(--Blue); display: block;}

    .white-bg .prod-tab-content{border: 2px solid var(--Card-Stroke); border-top: none;}
}













