

.prod-banner-bg{ z-index: -2; background-color: var(--Blue); background: linear-gradient(180deg, #1335AF 0%, #182A54 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(0deg, #465EB3 0%, #465EB3 100%); background-blend-mode: multiply, normal, color;}
.prod-banner-video video{ top: 50%; left: 50%; width: 100%; height: 100%; transform: translate(-50%, -50%); position: absolute; object-fit: cover; }

.prod-banner-text h1{margin-bottom: 24px;}
.prod-banner-text hr{margin-bottom: 24px;}
.prod-banner-btns{gap: 16px; padding-top: 8px;}


/* media css starts here */
@media screen and (min-width: 1024px){
    .prod-banner-main{padding: 156px 0 74px;}
    .prod-banner-text{max-width: 880px; margin-bottom: 53px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .prod-banner-main{padding: 133px 0 80px;}
    .prod-banner-text{max-width: 880px; margin-bottom: 53px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .prod-banner-main{padding: 133px 0 40px;}
    .prod-banner-text{margin-bottom: 20px; font-size: 1.125rem; line-height: 1.688rem;}
    .prod-banner-text h1{font-size: 2rem; line-height: 2.5rem;}
    .prod-banner-text hr{margin-bottom: 23px;}
}