

.quote-section{background: var(--Background, #F0F2FA);}
.quote-icon{margin-bottom: 27px;}
.quote-text h2{margin-bottom: 30px; color: var(--Foreground);}
.quote-text p::after{content: '"'; display: inline;}
.quote-avatar{padding: 2px 0 3px 18px; border-left: 2px solid var(--Orange, #F9662D);}
.quote-avatar span{display: block; margin-bottom: 2px;}
.quote-avatar p{opacity: 0.5;}
.quote-icon-top, .quote-icon-btm{z-index: -1;}
.quote-icon svg, .quote-icon figure{max-width: 46px;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .quote-main{padding: 116px 0 116px; gap: 80px; flex-direction: row-reverse;}
    .quote-image{flex: 0 0 600px;}
    .quote-text{flex: 1;}
    .quote-icon-top{right: 0; top: -66px;}
    .quote-icon-btm{left: 0; bottom: -76px;}
    .no_quote_text{display: block;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .quote-main{gap: 40px;}
    .quote-image{flex: 0 0 500px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .quote-main{padding: 89px 0 41px; display: block;}
    .quote-image{margin-bottom: 51px;}
    .quote-icon{margin-bottom: 24px;}
    .quote-icon-top{right: 0; top: -66px;}
    .quote-icon-btm{left: 0; bottom: -76px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .quote-main{padding: 89px 0 41px; display: block;}
    .quote-image{margin-bottom: 52px;}
    picture.quote-thumb{min-height: 194px;}
    .quote-icon{margin-bottom: 27px;}
    .quote-icon-top{right: 0; top: -50px;}
    .quote-icon-btm{left: 0; bottom: -53px;}
    .quote-text h2{font-size: 20px; line-height: 25px;}
}