


.repeater-desc h2{color: var(--Navy, #182A54);}
.repeater-desc{margin-bottom: 30px;}
.repeater-desc ul{font-size: 16px; line-height: 24px;}


/* media css starts here */
@media screen and (min-width: 1440px){
    .repeater-main{padding: 0 0 40px;}
    .repeater-row{flex-direction: row-reverse;}
    .repeater-row:nth-child(even){flex-direction: row;}
    .repeater-row.reverse{flex-direction: row;}
    .repeater-text{flex: 0 0 50%; padding: 0 80px;}
    .repeater-image{flex: 0 0 50%;}
    .repeater-image-pos{min-width: 720px; min-height: 540px;}
    .repeater-text.no_image { flex: 0 0 100%; padding: 80px; }
}



