


.repeater-desc h2{color: var(--Navy, #182A54);}
.repeater-desc ul{font-size: 16px; line-height: 24px;}
.repeater-link{padding-top: 3px;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .repeater-row{flex-direction: row-reverse;}
    .repeater-row:nth-child(even){flex-direction: row;}
    .repeater-row.reverse{flex-direction: row;}
    .repeater-text.no_image { flex: 0 0 100%; padding: 80px; }

    .repeater-main{padding: 0 0 40px;}
    .repeater-text{flex: 0 0 50%;}
    .repeater-image{flex: 0 0 50%;}

    body.page-template-story .repeater-desc h2.h1{margin-bottom: 24px;}
    body.page-template-story .repeater-row:first-child .repeater-desc hr{margin-bottom: 22px;}
    body.page-template-story .repeater-desc h2:not(.h1){margin-bottom: 31px;}
    body.page-template-story .repeater-desc hr{margin-bottom: 30px;}
}
@media screen and (min-width: 1440px){
    .repeater-text{padding: 0 80px;}
    .repeater-image-pos{min-width: 720px; min-height: 540px;}
    .repeater-desc{margin-bottom: 30px;}
}
@media only screen and (max-width: 1439px) and (min-width: 768px){
    .repeater-section .container{padding: 0;}
}
@media only screen and (max-width: 1439px) and (min-width: 1280px){
    .repeater-text{padding: 64px;}
    .repeater-image-pos{min-width: 640px; min-height: 480px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .repeater-text{padding: 32px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .repeater-main{padding: 40px 0 8px;}
    .repeater-row{display: block; padding-bottom: 38px;}
    .repeater-image{margin-bottom: 30px;}
    .repeater-row:nth-child(odd) .repeater-image{padding-left: 40px;}
    .repeater-row:nth-child(even) .repeater-image{padding-right: 40px;}

    .repeater-text{padding: 0 40px;}
    .repeater-desc hr{margin-bottom: 22px}
    .repeater-desc ul{padding: 5px 0 3px;}
    .repeater-desc{margin-bottom: 0;}
    .repeater-desc h2{font-size: 24px; line-height: 30px;}
    .repeater-desc h2.h1{margin-bottom: 22px; font-size: 30px; line-height: 40px;}


    body.page-template-integrations-detail .repeater-row:first-child{padding: 0; display: flex; flex-direction: column-reverse;}
    body.page-template-integrations-detail .repeater-row:first-child .repeater-image{margin: 0; padding: 0; width: 100%; position: static;}
    body.page-template-integrations-detail .repeater-row:first-child .repeater-desc h2{font-size: 32px; line-height: 40px;}

    body.page-template-integrations-detail .repeater-main{padding: 60px 0 38px;}
    body.page-template-integrations-detail .repeater-desc hr{margin-bottom: 22px}
    body.page-template-integrations-detail .repeater-desc ul{padding: 5px 0 3px;}
    body.page-template-integrations-detail .repeater-row:not(:first-child){padding-top: 22px;}
    body.page-template-integrations-detail .repeater-row:nth-child(3){padding-top: 10px;}
    body.page-template-integrations-detail .repeater-row:nth-child(3) .repeater-image{padding-top: 0; padding-bottom: 30px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .repeater-main{padding: 40px 0 8px;}
    .repeater-row{display: block; padding-bottom: 38px;}
    .repeater-image{margin-bottom: 30px;}
    .repeater-desc hr{margin-bottom: 22px}
    .repeater-desc ul{padding: 5px 0 3px;}
    .repeater-row:nth-child(even):not(:first-child) .repeater-image{width: calc(100% + 24px); left: -24px; position: relative;}
    .repeater-desc{margin-bottom: 0;}
    .repeater-desc h2{font-size: 24px; line-height: 30px;}
    .repeater-desc h2.h1{margin-bottom: 22px; font-size: 30px; line-height: 40px;}
    .repeater-row:nth-child(odd) .repeater-image{width: calc(100% + 24px); right: -24px; position: relative;}


    body.home .repeater-main{padding: 0 0 8px;}
    /*-- 02 - Product Landing page --*/
    body.page-template-product-landing .repeater-main{padding: 0 0 40px;}
    /*-- 02 - Product Landing page --*/

    body.page-template-integrations-detail .repeater-row:first-child{padding: 0; display: flex; flex-direction: column-reverse;}
    body.page-template-integrations-detail .repeater-row:first-child .repeater-image{padding-top: 47px; margin: 0; width: 100%; position: static;}
    body.page-template-integrations-detail .repeater-row:first-child .repeater-desc h2{font-size: 32px; line-height: 40px;}

    body.page-template-integrations-detail .repeater-main{padding: 40px 0 8px;}
    body.page-template-integrations-detail .repeater-desc hr{margin-bottom: 22px}
    body.page-template-integrations-detail .repeater-desc ul{padding: 5px 0 3px;}
    body.page-template-integrations-detail .repeater-image{padding-top: 16px;}
    body.page-template-integrations-detail .repeater-row:not(:first-child){padding-top: 22px; display: block;}
    body.page-template-integrations-detail .repeater-row:nth-child(even):not(:first-child) .repeater-image{width: calc(100% + 24px); left: -24px; position: relative;}
    body.page-template-integrations-detail .repeater-row:nth-child(odd):not(:first-child) .repeater-image{width: calc(100% + 24px); right: -24px; position: relative;}
    body.page-template-integrations-detail .repeater-row:nth-child(3){padding-top: 10px;}
    body.page-template-integrations-detail .repeater-row:nth-child(3) .repeater-image{padding-top: 0; padding-bottom: 30px;}
}


