

.reviews-title h2{color: var(--Navy);}
.reviews-text{padding: 40px;}
.reviews-block{left: 0; top: 0; width: 40px; height: 40px; opacity: 0;}
.reviews-block svg{width: 100%; height: 100%;}
.gray-bg .reviews-block svg path{fill: var(--White);}
.white-bg .reviews-block svg path{fill: var(--White);}
.started.reviews-block{opacity: 1; left: -40px;}
.reviews-row:nth-child(even) .reviews-block{ right: 0; left: auto; }
.reviews-row:nth-child(even) .reviews-block.started{right: -40px; opacity: 1;}
.reviews-text.gray-bg:before{background-color: var(--White);}
.reviews-quote{margin-bottom: 20px; font-size: 20px; line-height: 36px; font-weight: 500; font-family: "arboria", sans-serif; color: var(--Blue); display: block;}
.reviews-quote p::before { content: "“"; }
.reviews-quote p::after{content: "”";}
.reviews-small-text{padding-left: 16px; border-left: 1px solid var(--Orange); color: var(--Foreground, #313031); font-family: "Noto Sans", sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;}
.reviews-reverse .reviews-block svg{transform: scaleX(-1);}

.gray-bg .reviews-text{background-color: var(--White);}

/* media css starts here */
@media screen and (min-width: 768px){
    .reviews-head{gap: 32px; margin-bottom: 40px;}
    .reviews-title{flex: 1;}
    .reviews-intro-link{width: fit-content;}
    .reviews-text:before{width: 32px; height: 32px; top: -0.001px; left: 0; position: absolute; background: var(--Background, #F0F2FA); content: ""; display: block;}
    body.page-template-story .reviews-main{padding-top: 0;}
    body.page-template-solutions-industry-detail .reviews-main{padding: 0 0 80px;}
    body.page-template-company-size-detail .reviews-main{padding-top: 0;}
    body.page-template-product-details .reviews-main{padding: 80px 0 80px;}

    /*-- de --*/
    .reviews-thumb{opacity: 0; transform: scale(0.5) rotate(0deg) translate3d(10px, 50px, 0);}
    .reviews-thumb.started{opacity: 1; transform: scale(1) rotate(0deg) translate3d(0, 0, 0);}
    /*-- de --*/
}
@media screen and (min-width: 1024px){
    body.page-template-marketing .reviews-main{padding-bottom: 80px;}
    body.home .reviews-main{padding-bottom: 80px;}
    body.page-template-product .reviews-main{padding: 80px 0 0;}

    .reviews-main{padding: 40px 0 40px; }
    .repeater-section .reviews-main{padding: 56px 0 55px;}
    .reviews-row{gap: 40px; align-items: flex-start;}
    .reviews-image{flex: 0 0 160px;}
    .reviews-text{flex: 1;}
    .reviews-row:not(:last-child){margin-bottom: 40px;}
    .testimonials-row .reviews-row{padding: 0 0 40px;}
    body.page-template-product .testimonials-row .reviews-row:last-child{padding: 0;}
    .reviews-row:nth-child(even){flex-direction: row-reverse;}
    .reviews-row:nth-child(even) .reviews-text:before{right: 0; left: auto;}

    div.reviews-reverse{flex-direction: row-reverse;}
    div.reviews-reverse .reviews-block { right: -40px; left: auto; }
    div.reviews-reverse .reviews-text:before{right: 0; left: auto;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    body.page-template-marketing .reviews-main{padding-bottom: 80px;}
    body.home .reviews-main{padding: 80px 0;}
    body.page-template-product .reviews-main{padding: 60px 0 0;}
    .repeater-section .reviews-main{padding: 0 40px;}
    .repeater-section .reviews-row{padding: 0 0 55px;}

    .reviews-main{padding: 40px 0 40px; }
    .reviews-row{gap: 40px; align-items: flex-start;}
    .reviews-row:not(:last-child){margin-bottom: 40px;}
    .reviews-image{flex: 0 0 160px;}
    .reviews-text{flex: 1;}
    .reviews-quote{font-size: 20px; line-height: 32px;}
    .testimonials-row .reviews-row{padding: 0 0 40px;}
    body.page-template-product .testimonials-row .reviews-row:last-child{padding: 0;}
    .reviews-row:nth-child(even){flex-direction: row-reverse;}
    .reviews-row:nth-child(even) .reviews-text:before{right: 0; left: auto;}
    .reviews-row:nth-child(even) .reviews-block { right: -40px; left: auto; }

    div.reviews-reverse{flex-direction: row-reverse;}
    div.reviews-reverse .reviews-text:before{right: 0; left: auto;}
    div.reviews-reverse .reviews-block { right: -40px; left: auto; }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .reviews-main{padding: 40px 0 40px;}
    .reviews-head{display: block;}
    .reviews-title{display: block; margin-bottom: 23px;}
    .reviews-title h2{font-size: 24px; line-height: 30px;}
    .reviews-row{display: block;}
    .reviews-row:not(:last-child){margin-bottom: 24px;}
    .reviews-text{padding: 20px;}
    .reviews-quote{font-size: 20px; line-height: 32px;}
    .reviews-small-main{gap: 8px;}
    .reviews-image{width: 56px; flex: 0 0 56px;}
    .reviews-small-text{flex: 1;}
    .reviews-small-text span{display: block;}
    .reviews-btn{margin-top: 24px;}
    .reviews-m-block{bottom: 19px; right: 20px; width: 20px; height: 20px;}
    .reviews-m-block svg{width: 100%; height: 100%;}
    .reviews-text::after{width: 20px; height: 20px; right: 0; bottom: 0; content: ""; display: block; position: absolute;}
    .gray-bg .reviews-text::after{background-color: var(--Elevated); }
    .white-bg .reviews-text::after{background-color: var(--Elevated); }
    .white-bg .reviews-m-block svg path{fill: var(--Elevated);}
    .gray-bg .reviews-m-block svg path{fill: var(--Elevated);}

}












