


.reviews-text{padding: 40px;}
.reviews-block{left: -40px; top: 0;}
.reviews-text.gray-bg:before{background-color: var(--White);}
.reviews-text:before{width: 32px; height: 32px; top: -0.001px; left: 0; position: absolute; background: var(--Background, #F0F2FA); content: ""; display: block;}
.reviews-text span{margin-bottom: 20px; font-size: 20px; line-height: 36px; font-weight: 500; font-family: "arboria", sans-serif; color: var(--Blue); display: block;}
.reviews-text span::before { content: "“"; }
.reviews-text span::after{content: "”";}
.reviews-small-text{padding-left: 16px; border-left: 1px solid var(--Orange); color: var(--Foreground, #313031); font-family: "Noto Sans", sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;}



/* media css starts here */
@media screen and (min-width: 1024px){
    body.page-template-industry-detail .reviews-main{padding-bottom: 80px;}
    .reviews-main{padding: 40px 0 40px; gap: 40px; align-items: flex-start;}
    .repeater-section .reviews-main{padding: 56px 0 55px;}
    .reviews-image{flex: 0 0 160px;}
    .reviews-text{flex: 1;}
    .testimonials-row .reviews-main{padding: 0 0 40px;}
    .reviews-main:nth-child(even){flex-direction: row-reverse;}
    .reviews-main:nth-child(even) .reviews-text:before{right: 0; left: auto;}
    .reviews-main:nth-child(even) .reviews-block { right: -40px; left: auto; }

    .reviews-main.reverse{flex-direction: row-reverse;}
    .reviews-main.reverse .reviews-text:before{right: 0; left: auto;}
    .reviews-main.reverse .reviews-block { right: -40px; left: auto; }
}













