

.reviews-title h2{color: var(--Navy);}
.reviews-text{padding: 40px;}
.reviews-block{left: -40px; top: 0;}
.reviews-text.gray-bg:before{background-color: var(--White);}
.reviews-text span{margin-bottom: 20px; font-size: 20px; line-height: 36px; font-weight: 500; font-family: "arboria", sans-serif; color: var(--Blue); display: block;}
.reviews-text span::before { content: "“"; }
.reviews-text span::after{content: "”";}
.reviews-small-text{padding-left: 16px; border-left: 1px solid var(--Orange); color: var(--Foreground, #313031); font-family: "Noto Sans", sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;}



/* media css starts here */
@media screen and (min-width: 740px){
    .reviews-head{gap: 32px; margin-bottom: 40px;}
    .reviews-title{flex: 1;}
    .reviews-intro-link{width: fit-content;}
    .reviews-text:before{width: 32px; height: 32px; top: -0.001px; left: 0; position: absolute; background: var(--Background, #F0F2FA); content: ""; display: block;}
    body.page-template-asmbl-story .reviews-main{padding-top: 0;}
    body.page-template-industry-detail .reviews-main{padding: 0 0 80px;}
    body.page-template-company-size-detail .reviews-main{padding-top: 0;}
    body.page-template-product-detail .reviews-main{padding: 80px 0 80px;}
}
@media screen and (min-width: 1024px){
    body.page-template-marketing-lp .reviews-main{padding-bottom: 80px;}
    body.home .reviews-main{padding-bottom: 80px;}
    body.page-template-product-landing .reviews-main{padding: 80px 0 0;}

    .reviews-main{padding: 40px 0 40px; }
    .repeater-section .reviews-main{padding: 56px 0 55px;}
    .reviews-row{gap: 40px; align-items: flex-start;}
    .reviews-image{flex: 0 0 160px;}
    .reviews-text{flex: 1;}
    .reviews-row:not(:last-child){margin-bottom: 40px;}
    .testimonials-row .reviews-row{padding: 0 0 40px;}
    body.page-template-product-landing .testimonials-row .reviews-row:last-child{padding: 0;}
    .reviews-row:nth-child(even){flex-direction: row-reverse;}
    .reviews-row:nth-child(even) .reviews-text:before{right: 0; left: auto;}
    .reviews-row:nth-child(even) .reviews-block { right: -40px; left: auto; }

    .reviews-row.reverse{flex-direction: row-reverse;}
    .reviews-row.reverse .reviews-text:before{right: 0; left: auto;}
    .reviews-row.reverse .reviews-block { right: -40px; left: auto; }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    body.page-template-marketing-lp .reviews-main{padding-bottom: 80px;}
    body.home .reviews-main{padding-bottom: 80px;}
    body.page-template-product-landing .reviews-main{padding: 60px 0 0;}


    .reviews-main{padding: 40px 0 40px; }
    .reviews-row{gap: 40px; align-items: flex-start;}
    .reviews-row:not(:last-child){margin-bottom: 40px;}
    .repeater-section .reviews-row{padding: 56px 0 55px;}
    .reviews-image{flex: 0 0 160px;}
    .reviews-text{flex: 1;}
    .reviews-text span{font-size: 20px; line-height: 32px;}
    .testimonials-row .reviews-row{padding: 0 0 40px;}
    body.page-template-product-landing .testimonials-row .reviews-row:last-child{padding: 0;}
    .reviews-row:nth-child(even){flex-direction: row-reverse;}
    .reviews-row:nth-child(even) .reviews-text:before{right: 0; left: auto;}
    .reviews-row:nth-child(even) .reviews-block { right: -40px; left: auto; }

    .reviews-row.reverse{flex-direction: row-reverse;}
    .reviews-row.reverse .reviews-text:before{right: 0; left: auto;}
    .reviews-row.reverse .reviews-block { right: -40px; left: auto; }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .reviews-main{padding: 40px 0 40px;}
    .reviews-head{display: block; margin-bottom: 23px;}
    .reviews-title h2{font-size: 24px; line-height: 30px;}
    .reviews-row{display: block;}
    .reviews-row:not(:last-child){margin-bottom: 24px;}
    .reviews-text{padding: 20px;}
    .reviews-text span{font-size: 20px; line-height: 32px;}
    .reviews-small-main{gap: 8px;}
    .reviews-image{width: 56px; flex: 0 0 56px;}
    .reviews-small-text{flex: 1;}
}












