


.simple-intro-icon{width: 46px; height: 46px; margin-bottom: 19px;}
.simple-intro-icon img, .simple-intro-icon svg{width: 46px; height: 46px; object-fit: contain;}
.simple-icon-block { width: 14px; height: 14px; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; background-color: var(--White); transition: all 0.5s ease; z-index: -1; }
.simple-icon-block.sm { width: 6px; height: 6px; top: -16px; left: 100%; transform: translate(100%, 0%); }
.simple-intro-list:hover .simple-icon-block{ opacity: 1; }
.simple-intro-list:hover .simple-icon-block:not(.sm) { width: 60px; height: 60px;}
.white-bg .simple-icon-block{background: var(--Background);}

.simple-intro-text{color: var(--Foreground);}
.simple-intro-text h2{margin-bottom: 16px; color: var(--Navy);}
.no_simple_fig_icon:hover .simple-icon-block{opacity: 0;}

/* media css starts here */
@media screen and (min-width: 1300px){
    body.page-template-solutions-industry-detail .simple-intro-row{gap: 37px 50px;}
    .simple-intro-row{gap: 33px 50px;}
    .simple-intro-list{flex: 0 0 calc(25% - 38px); padding: 20px;}
}
@media screen and (min-width: 1024px){
    .simple-intro-main{padding: 80px 0 42px;}
    body.page-template-story .simple-intro-main{padding: 80px 0 65px;}
    .simple-intro-head{margin-bottom: 63px; gap: 31px;}
    .simple-intro-title{flex: 1; padding-right: 31px; border-right: 1px solid  rgb(19 53 175 / 40%);}
    .simple-intro-link{width: fit-content;}
    .simple-intro-btn{opacity: 0; transform: translateY(15px); transition: all 0.5s ease;}
    .simple-intro-list:hover .simple-intro-btn{opacity: 1; transform: translateY(0);}
    body.page-template-marketing .simple-intro-main{padding:  80px 0 0;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .simple-intro-row{gap: 32px;}
    .simple-intro-list{flex: 0 0 calc(25% - 24px);}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .simple-intro-main{padding: 40px 0 80px;}
    .simple-intro-head{display: block; margin-bottom: 60px;}
    .simple-intro-title{padding-bottom: 18px; margin-bottom: 16px; border-bottom: 1px solid  rgb(19 53 175 / 40%);}
 
    .simple-intro-row{gap: 50px;}
    .simple-intro-list{flex: 0 0 calc(50% - 25px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .simple-intro-main{padding: 40px 0 40px;}
    .simple-intro-head{display: block; margin-bottom: 60px;}
    body.single-integration .simple-intro-head{margin-bottom: 66px;}
    .simple-intro-title{padding-bottom: 18px; margin-bottom: 16px; border-bottom: 1px solid  rgb(19 53 175 / 40%);}
    .simple-intro-icon{width: 48px; height: 48px;}
    .simple-intro-icon img, .simple-intro-icon svg{width: 48px; height: 48px;}
    .simple-intro-row{display: block;}
    .simple-intro-list:not(:last-child){ margin-bottom: 31px;}
}