

.solution-masthead-section{ background-image: linear-gradient(to top, rgba(240, 242, 250, 0) 0%, #f0f2fa 100%), linear-gradient(to bottom, #f0f2fa, #f0f2fa); }
.solution-masthead-bg{background-position: center top; background-repeat: no-repeat; background-size: cover;}

.solution-masthead-text span.optional-text{margin-bottom: 25px;}
.solution-masthead-text h1{margin-bottom: 25px; color: var(--Navy);}
.solution-masthead-text hr{margin-bottom: 23px;}

.solution-masthead-thumb img{object-fit: cover; border-radius: 6px; position: relative;}
.solution-masthead-1{top: 108px; left: 0; width: 212px; height: 235.5px;}
.solution-masthead-2{top: 41px; left: 156px; width: 620px; height: 302px;}
.solution-masthead-2 img{object-position: left top;}
.solution-masthead-3{top: 355px; left: 74px; width: 368px; height: 234px;}
.solution-masthead-4{top: 184px; left: 460px; width: 212px; height: 215.5px;}
.solution-masthead-5{top: 415px; left: 460px; width: 250px; height: 151.5px;}

body.page-template-solutions-usecase-detail .solution-masthead-3{width: 368px; height: 213px;}

/*-- animation css starts --*/
.solution-masthead-thumb::after, .solution-masthead-thumb::before{opacity: 0.7; visibility: hidden; content: ""; display: block; position: absolute; background-color: var(--White); z-index: -1; animation-delay: 1s; animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.5s ease; animation-name: suedo;}
@keyframes suedo{ from{visibility: hidden; opacity: 0;} to{visibility: visible;} }
.solution-masthead-thumb img{animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.5s ease;}
/*-- animation css ends --*/

/* media css starts here */
@media screen and (min-width: 768px){
    .solution-masthead-1::before{top: -47px; left: 88px; width: 17px; height: 17px; opacity: 1;}
    .solution-masthead-1::after{left: 27px; top: -30px; opacity: 0.5; width: 61px; height: 61px;}
    .solution-masthead-2::before{right: 40px; top: -20px; width: 168px; height: 168px; opacity: 0.5;}
    .solution-masthead-2::before{right: 40px; top: -20px; width: 168px; height: 168px; opacity: 0.5;}
    .solution-masthead-3::before{left: -44px; top: 17px; width: 55px; height: 55px;}
    .solution-masthead-3::after{ top: 73px; left: -58px; width: 14px; height: 14px;}

    .solution-masthead-bg{background-image: url('images/solution-masthead-bg@2x.jpg');}
}
@media screen and (min-width: 1024px){
    body.page-template-solution-company-detail .solution-masthead-images {margin-top: 25px;}
    .solution-masthead-main.no_masthead_images{display: block; padding-bottom: 60px;}
    .no_masthead_images .solution-masthead-text{max-width: 100%;}
    .solution-masthead-main.no_masthead_text{justify-content: center;}
    .solution-masthead-main{padding: 80px 0 21px; flex-direction: row-reverse;} 
    .solution-masthead-btns{padding-top: 7px; gap: 16px;}

    .solution-masthead-images{height: 600px;}
    
    /*-- animation css starts --*/
    .solution-masthead-1 img{animation-name: anim-down-1; }
    .solution-masthead-2 img{animation-name: animRight; }
    .solution-masthead-3 img{animation-name: animdUp; }
    .solution-masthead-4 img{animation-name: anim-down-2;}
    .solution-masthead-5 img{animation-name: animdUp; }
    @keyframes anim-down-1{ from{top: -162px;} to{top: 0;} }
    @keyframes anim-down-2{ from{top: -256px;} to{top: 0;} }
    @keyframes animdUp{ from{transform: translateY(100vh);} to{transform: translateY(0%);} }
    @keyframes animDown{ from{transform: translateY(-100vh);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/
}
@media screen and (min-width: 1440px){
    .solution-masthead-wrapper{max-width: 1600px; margin: 0 auto;}
    .solution-masthead-images{flex: 0 0 720px; right: -80px;}
    .solution-masthead-text{max-width: 560px; padding-top: 80px; flex: 0 0 calc(100% - 720px);}
}
@media only screen and (max-width: 1439px) and (min-width: 1280px){
    .solution-masthead-images{flex: 0 0 720px; height: 420px; right: -80px;}
    .solution-masthead-text{flex: 0 0 calc(100% - 720px); padding-top: 148px; }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .solution-masthead-main{padding: 123px 0 56px; align-items: center;}
    .solution-masthead-images{flex: 0 0 510px; right: -40px;}
    .solution-masthead-text{flex: 0 0 calc(100% - 510px);}
    .solution-masthead-text h1{font-size: 2.5rem; line-height: 3.125rem;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .solution-masthead-main{padding: 80px 0 54px; display: block;} 
    .solution-masthead-images{height: 600px;}
    .solution-masthead-btns{padding-top: 6px; gap: 16px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    /*-- animation css starts --*/
    .solution-masthead-1 img{animation-name: animLeft; }
    .solution-masthead-2 img{animation-name: animRight; }
    .solution-masthead-3 img{animation-name: animLeft; }
    .solution-masthead-4 img{animation-name: animRight;}
    .solution-masthead-5 img{animation-name: animLeft; }
    @keyframes animLeft{ from{transform: translateX(-100vw);} to{transform: translateY(0%);} }
    @keyframes animRight{ from{transform: translateX(100vw);} to{transform: translateX(0%);} }
    /*-- animation css ends --*/
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .solution-masthead-bg{background-image: url('images/solution-masthead-mobile@2x.jpg');}

    .solution-masthead-main{padding: 127px 0 40px; display: block;}
    .solution-masthead-images{height: 282px;}
    .solution-masthead-text{font-size: 1rem; line-height: 1.5rem;}
    .solution-masthead-text h1{margin-bottom: 20px; font-size: 2rem; line-height: 2.5rem;}
    .solution-masthead-text hr{margin-bottom: 20px;}
    .solution-masthead-text p{margin-bottom: 20px;}
    .solution-masthead-text span.optional-text{margin-bottom: 20px;}
    .solution-masthead-btns{gap: 15px;}

    .solution-masthead-thumb img{object-fit: cover; border-radius: 3px;}
    .solution-masthead-1{top: 46px; left: 12px; width: 97px; height: 107px;}
    .solution-masthead-2{top: 16px; left: 84px; width: 281px; height: 136px;}
    .solution-masthead-2 img{object-position: left top;}
    .solution-masthead-3 { top: 158px; left: 44px; width: 170px; height: 108px; }
    .solution-masthead-4 { top: 84px; left: 222px; width: 98px; height: 99px; }
    .solution-masthead-5{top: 189px; left: 222px; width: 116px; height: 70px;}

    body.page-template-solutions-usecase-detail .solution-masthead-3{ top: 157px; left: 43px; width: 170px; height: 100px;}


    .solution-masthead-1::before{top: -23px; left: 38px; width: 8px; height: 8px; opacity: 1;}
    .solution-masthead-1::after{left: 12px; top: -16px; opacity: 0.5; width: 26px; height: 26px;}
    .solution-masthead-2::before{right: 30px; top: -20px; width: 76px; height: 76px; opacity: 0.5;}
    .solution-masthead-3::before{left: -16px; top: 6px; width: 26px; height: 26px;}
    .solution-masthead-3::after{ top: 32px; left: -24px; width: 8px; height: 8px;}

}