


.trust-by-text{color: var(--Foreground, #313031); opacity: 0.6;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .trust-by-main{gap: 32px; padding: 24px 0 72px;}
    .trust-by-text{flex: 0 0 144px;}
    .trust-by-logos{gap: 32px; flex: 1;}
}










