
.who-for-row.no_image{display: block;}
.who-for-text h2{color: var(--Navy);}
.who-for-text span.optional-text{margin-bottom: 26px; opacity: 1;}
ul.who-for-tabs li::before{display: none;}
.who-for-page{display: none;}
.who-for-page:first-child{display: block;}

.industry-slide-text{color: var(--Foreground, #313031);}
.industry-slide-text h2{margin-bottom: 16px; color: var(--Navy);}
.industry-slide-text h2 a{color: var(--Navy);}
.industry-slide-text h2 a:hover{color: var(--Blue);}
.industry-slide-icon{margin-bottom: 19px; min-height: 46px; max-width: 46px;}
.industry-slide{position: relative;}
.industry-slide::after, .industry-slide:first-child::before{height: 100%; content: ""; display: block; background-color: var(--White); position: absolute;}
.industry-slide::after{top: 0; right: 0px; width: 2px; }
.industry-slide:first-child::before{top: 0; left: 0px; width: 2px; height: 100%;}
.industry-count{display: none;}

body.home .industry-slide svg{margin-bottom: 12px;}

/* media css starts here */
@media screen and (min-width: 768px){
    ul.who-for-tabs{margin: auto 0 0; gap: 16px;}
    ul.who-for-tabs li{display: block; margin: 0;}
    ul.who-for-tabs li a{padding: 11px 10px; border: 2px solid var(--White, #FFF);; color: var(--Navy, #182A54); font-size: 1rem; line-height: 1.5rem; display: block;}
    ul.who-for-tabs li a.active, ul.who-for-tabs li a:hover{font-weight: 700; background-color: var(--White); color: var(--Blue);}
}
@media screen and (min-width: 1024px){
    .who-for-main{padding: 80px 0 0;}
    .who-for-row{gap: 80px; margin-bottom: 40px;}
    .who-for-image{flex: 1;}
    .who-for-text{flex: 0 0 426px; padding-top: 41px; display: flex; flex-wrap: wrap; flex-direction: column;}
    
    body.home .who-for-text{flex: 0 0 415px;}

    .industry-slide-btn{opacity: 0; transform: translateY(15px); transition: all 0.5s ease;}
    .industry-slide:hover .industry-slide-btn{opacity: 1; transform: translateY(0);}
    
    .industry-slider{flex-wrap: nowrap;}
    .industry-slide{flex: 0 0 calc(25%); padding: 21px 44px 23px; }
    .industry-slide.slick-slide{width: 320px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .who-for-main{padding: 80px 0 40px;}
    .who-for-row{display: block;}
    .who-for-image{margin-bottom: 24px;}
    .who-for-text{padding: 27px 0 40px;}

    .industry-slider.slick-slider{padding: 0 0 32px 2px;}
    .industry-slider.slick-slider .slick-list{overflow: inherit;}
    .industry-slide.slick-slide{width: 298px; min-height: 245px; padding: 2px 40px 0px;}
    .industry-count{display: none;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .who-for-main{padding: 39px 0 40px;}
    .who-for-row{display: block;}
    .who-for-image{margin-bottom: 24px;}

    .for-tabs-text{margin-bottom: 32px;}
    .for-tabs-btn{ padding: 14px; font-size: 0.875rem; line-height: 1.25rem; color: var(--Blue, #1335AF); border: 1px solid var(--Blue-Tint, #D9DFF2); background: var(--White, #FFF); font-family: "arboria", sans-serif; font-weight: 700; display: block; cursor: pointer;}
    .for-tabs-btn.open{border-radius: 8px 8px 0 0; border-bottom-color: transparent;}
    .for-tabs-btn svg{top: 50%; transform: translateY(-50%); right: 15px; position: absolute; transition: all 0.3s ease-in-out;}
    .for-tabs-btn.open svg{transform: translateY(-50%) scaleY(-1);}
    ul.who-for-tabs{margin: 0; top: 100%; left: 0; border-radius: 0 0 8px 8px; display: none; background-color: var(--White); border: 1px solid var(--Blue-Tint); border-top: none; position: absolute;}
    ul.who-for-tabs li{display: block; margin: 0; border-top: 1px solid var(--Blue-Tint); }
    ul.who-for-tabs li a{padding: 14px 14px; color: var(--Navy, #182A54); font-size: 0.813rem; line-height: 1.25rem; font-weight: 700; display: block; border-radius: 0;}
    ul.who-for-tabs li a.active, ul.who-for-tabs li a:hover{color: var(--Blue);}

    .industry-slider.slick-slider{padding: 0 0 32px 2px;}
    .industry-slider.slick-slider .slick-list{overflow: inherit;}
    .industry-slide.slick-slide{width: 298px; min-height: 245px; padding: 2px 22px 0px;}
    .industry-count{top: 11px; width: calc(100% - 96px); margin: 0 auto; font-size: 1.25rem; line-height: 1.563rem; opacity: 0.5; display: block; text-align: center; color: var(--Navy, #182A54); font-family: "arboria", sans-serif; font-weight: 700; position: relative;}
}














