

.xl-cta-main{padding: 48px 48px 46px; background: linear-gradient(90deg, #1335AF 0%, rgba(19, 53, 175, 0.00) 100%), linear-gradient(300deg, #182A54 0%, #1335AF 100%); background-repeat: no-repeat; background-size: cover; }
.xl-cta-frame{border-radius: 4px; background: var(--White, #FFF); box-shadow: 8px 8px 12px 0px rgba(24, 42, 84, 0.25);}
.xl-cta-frame1{top: 70px; left: 77px; width: 104px;}
.xl-cta-frame2{top: 120px; left: 140px; width: 110px;}
.xl-cta-frame3{top: 120px; left: 0; width: 128px;}
.xl-cta-frame4{top: 170px; left: 95px; width: 112px; z-index: -1;}


.xl-cta-row.no_image{display: block;}
.no_image .xl-cta-text{max-width: 100%; flex: 0 0 100%;}
.xl-cta-details{max-width: 334px; margin-left: auto; box-shadow: 0px 15px 20px 0px rgba(24, 42, 84, 0.50);}
.xl-cta-thumb img{border-radius: 8px 8px 0 0;}
.xl-upload-text{gap: 8px; padding: 12px;  border-radius: 0px 0px 8px 8px; border: 1px solid var(--Blue-Tint, #D9DFF2); color: var(--Foreground, #313031);}
.xl-upload-desc{flex: 1;}
.xl-upload-btn{ width: 40px; height: 40px;}
.xl-upload-btn a{width: 100%; height: 100%; background: var(--Blue-Tint, #D9DFF2);}
.xl-upload-btn a:hover svg{animation: scrollDown 1s forwards ease-in-out;}
.xl-upload-desc p{opacity: 0.6;}

.xl-step-num{width: 64px; height: 64px; color: var(--Orange, #F9662D); font-family: "arboria", sans-serif; font-size: 48px; font-weight: 700; line-height: 60px;}
.xl-step-num span{top: -4px; left: 0px; position: relative;}
.xl-step-text h2{margin-bottom: 13px;}
.xl-step-text p{margin-bottom: 19px;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .xl-cta-wrap{padding: 0 0 78px;}
    .xl-cta-main{background-image: url('./images/xl-cta-micro@2x.jpg'); }
    .xl-cta-row{gap: 80px; margin-bottom: 39px; flex-direction: row-reverse;}
    .xl-cta-text{flex: 1; max-width: 552px; padding-top: 22px;}
    .xl-cta-btns{gap: 16px;}
    .xl-cta-image{flex: 0 0 528px; max-width: 528px;}

    .xl-step-row{gap: 32px;}
    .xl-step-list{flex: 0 0 calc(25% - 32px); flex-direction: column;}
    .xl-step-list::before{width: calc(100% - 32px); height: 2px; top: 35px; left: 64px; content: ""; display: block; background-image: linear-gradient(to left, #f9662d 18%, #fec74d 100%, #ffdc54 0%); position: absolute; z-index: -1; }
    .xl-step-list:last-child::before{max-width: 256px;}
    .xl-step-list:last-child::after{ width: 12px; height: 20px; top: 26px; right: -32px; content: ""; display: block; background-image: url("images/triangle.svg"); background-repeat: no-repeat; background-size: contain; position: absolute; }
    .xl-step-num{margin-bottom: 19px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .xl-cta-row{gap: 32px;}
    .xl-cta-text h2{font-size: 38px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .xl-cta-wrap{padding: 0 0 78px;}
    .xl-cta-main{padding: 50px 32px 32px; background-image: url('./images/xl-cta-micro-ipad@2x.jpg'); }
    .xl-cta-row{gap: 24px; margin-bottom: 39px; flex-direction: row-reverse;}
    .xl-cta-text{flex: 1; max-width: 552px; padding-top: 22px;}
    .xl-cta-text h2{padding-top: 4px; font-size: 30px; line-height: 37px;}

    .xl-cta-btns{gap: 16px;}
    .xl-cta-image{flex: 0 0 294px; max-width: 294px;}
    .xl-cta-frame1 { top: -18px; left: -12px; }
    .xl-cta-frame2{top: 122px; left: 48px;}
    .xl-cta-frame3 { top: -18px; left: 104px; }
    .xl-cta-frame4 { top: 122px; left: 170px; z-index: 0; }


    .xl-step-row{gap: 24px;}
    .xl-step-list{flex: 0 0 calc(25% - 18px); flex-direction: column;}
    .xl-step-list::before{width: calc(100% - 32px); height: 2px; top: 35px; left: 64px; content: ""; display: block; background-image: linear-gradient(to left, #f9662d 18%, #fec74d 100%, #ffdc54 0%); position: absolute; z-index: -1; }
    .xl-step-list:last-child::before{max-width: 256px;}
    .xl-step-list:last-child::after{ width: 12px; height: 20px; top: 26px; right: -32px; content: ""; display: block; background-image: url("images/triangle.svg"); background-repeat: no-repeat; background-size: contain; position: absolute; }
    .xl-step-num{margin-bottom: 19px;}
    .xl-step-text{font-size: 14px; line-height: 21px;}
    .xl-step-text h2{font-size: 20px; line-height: 25px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .xl-cta-wrap{padding: 0 0 22px;}
    .xl-cta-main{padding: 42px 24px 24px; background-image: url("images/xl-cta-micro-mobile@2x.jpg");}
    .xl-cta-row{display: block;}
    .xl-cta-frame1 { top: -18px; left: -12px; }
    .xl-cta-frame2{top: 122px; left: 48px;}
    .xl-cta-frame3 { top: -18px; left: 104px; }
    .xl-cta-frame4 { top: 122px; left: 170px; z-index: 0; }
    .xl-cta-text{padding-top: 31px;}
    .xl-cta-text h2{padding-top: 4px; font-size: 24px; line-height: 30px;}

    .xl-step-row{display: block;}
    .xl-step-list{gap: 20px; margin-bottom: 20px;}
    .xl-step-list:first-child{margin-bottom: 30px;}
    .xl-step-list::before{width: 2px; height: calc(100% - 32px); top: 64px; left: 32px; content: ""; display: block; background-image: linear-gradient(to top, #f9662d 0%, #fec74d 77%, #ffdc54 94%); position: absolute; z-index: -1; }
    .xl-step-list:last-child::before{height: calc(100% - 50px);}
    .xl-step-list:last-child::after { width: 12px; height: 20px; top: calc(100% + 4px); left: 27px; content: ""; display: block; background-image: url("images/triangle.svg"); background-repeat: no-repeat; background-size: contain; position: absolute; transform: rotate(90deg); }
    .xl-step-text{flex: 1; font-size: 14px; line-height: 21px;}
    .xl-step-text h2{margin-bottom: 12px;}
    .xl-step-text p{margin-bottom: 12px; opacity: 0.9;}
}