

.xl-cta-main{padding: 48px 48px 46px; background: linear-gradient(90deg, #1335AF 0%, rgba(19, 53, 175, 0.00) 100%), linear-gradient(300deg, #182A54 0%, #1335AF 100%); background-repeat: no-repeat; background-size: cover; }
.xl-cta-text span.optional-text{margin-bottom: 14px;}

.xl-cta-frame{transition: all 2s ease; left: 0; opacity: 0; border-radius: 4px; background: var(--White, #FFF); box-shadow: 8px 8px 12px 0px rgba(24, 42, 84, 0.25);}
.visible .xl-cta-frame{opacity: 1;}
.visible .xl-cta-frame-1{top: 70px; left: 77px; width: 104px; transition-delay: 1s;}
.visible .xl-cta-frame-2{top: 120px; left: 140px; width: 110px; transition-delay: 2s;}
.visible .xl-cta-frame-3{top: 120px; left: 0; width: 128px; transition-delay: 3s;}
.visible .xl-cta-frame-4{top: 170px; left: 95px; width: 112px; transition-delay: 4s; z-index: -1;}

.xl-cta-row.no_image{display: block;}
.no_image .xl-cta-text{max-width: 100%; flex: 0 0 100%;}
.xl-cta-details{max-width: 334px; margin-left: auto; box-shadow: 0px 15px 20px 0px rgba(24, 42, 84, 0.50);}
.xl-cta-thumb img{border-radius: 8px 8px 0 0;}
.xl-upload-text{gap: 8px; padding: 12px;  border-radius: 0px 0px 8px 8px; border: 1px solid var(--Blue-Tint, #D9DFF2); color: var(--Foreground, #313031);}
.xl-upload-desc{flex: 1;}
.xl-upload-btn{ width: 40px; height: 40px;}
.xl-upload-btn a{width: 100%; height: 100%; background: var(--Blue-Tint, #D9DFF2);}
.xl-upload-btn a:hover svg{animation: scrollDown 1s forwards ease-in-out;}
.xl-upload-desc p{opacity: 0.6;}

.xl-step-num{width: 64px; height: 64px; color: var(--Orange, #F9662D); font-family: "arboria", sans-serif; font-size: 48px; font-weight: 700; line-height: 60px;}
.xl-step-num span{top: -4px; left: 0px; position: relative;}
.xl-step-text h2{margin-bottom: 13px;}
.xl-step-text p{margin-bottom: 19px;}

/*-- anim --*/
.xl-step-line::before{width: 0%; height: 100%; top: 0; left: 0; animation-name: xlineAnim; animation-play-state: paused; animation-fill-mode: forwards; animation-duration: 2s; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); background-image: linear-gradient(to left, #f9662d 18%, #fec74d 100%, #ffdc54 0%); content: ""; display: block; position: absolute;}
@keyframes xlineAnim{ 0%{width: 0%;} 100%{width: 100%;} }
.xl-line-anim .xl-step-line::before{animation-play-state: running;}
.xl-line-anim .xl-step-1::before{animation-delay: 1000ms;}
.xl-line-anim .xl-step-2::before{animation-delay: 3000ms;}
.xl-line-anim .xl-step-3::before{animation-delay: 5000ms;}
.xl-line-anim .xl-step-4::before{animation-delay: 7000ms;}
.xl-step-4::after{opacity: 0; animation-name: xlineArrow; animation-play-state: paused; animation-fill-mode: forwards; animation-duration: 2s; animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); width: 12px; height: 20px; top: 50%; transform: translateY(-50%); right: 0; content: ""; display: block; background-image: url("images/triangle.svg"); background-repeat: no-repeat; background-size: contain; position: absolute; }
@keyframes xlineArrow{ 0%{opacity: 0;} 100%{opacity: 1;} }
.xl-line-anim .xl-step-4::after{animation-delay: 8000ms; animation-play-state: running; }
/*-- anim --*/

/* media css starts here */
@media screen and (min-width: 1024px){
    .xl-cta-wrap{padding: 0 0 78px;}
    .xl-cta-main{background-image: url('./images/xl-cta-micro@2x.jpg'); }
    .xl-cta-row{gap: 80px; margin-bottom: 39px; flex-direction: row-reverse;}
    .xl-cta-text{flex: 1; max-width: 552px; padding-top: 22px; margin-right: auto;}
    .xl-cta-btns{gap: 16px;}
    .xl-cta-image{flex: 0 0 551px; max-width: 551px;}
    .xl-step-row{gap: 32px;}
    .xl-step-list{flex: 0 0 calc(25% - 32px); flex-direction: column;}
    .xl-step-line{width: calc(100% - 32px); height: 2px; top: 35px; left: 64px; display: block; position: absolute; z-index: -1; }
    .xl-step-num{margin-bottom: 19px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .xl-cta-row{gap: 32px;}
    .xl-cta-text h2{font-size: 38px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .xl-cta-wrap{padding: 0 0 78px;}
    .xl-cta-main{padding: 50px 32px 32px; background-image: url('./images/xl-cta-micro-ipad@2x.jpg'); }
    .xl-cta-row{gap: 24px; margin-bottom: 39px; flex-direction: row-reverse;}
    .xl-cta-text{flex: 1; max-width: 552px; padding-top: 22px;}
    .xl-cta-text h2{padding-top: 4px; font-size: 30px; line-height: 37px;}

    .xl-cta-btns{gap: 16px;}
    .xl-cta-image{flex: 0 0 294px; max-width: 294px;}
    .visible .xl-cta-frame-1 { top: -18px; left: -12px; }
    .visible .xl-cta-frame-2{top: 122px; left: 48px;}
    .visible .xl-cta-frame-3 { top: -18px; left: 104px; }
    .visible .xl-cta-frame-4 { top: 122px; left: 170px; z-index: 0; }


    .xl-step-row{gap: 24px;}
    .xl-step-list{flex: 0 0 calc(25% - 18px); flex-direction: column;}
    .xl-step-line{width: calc(100% - 32px); height: 2px; top: 35px; left: 64px; position: absolute; z-index: -1; }
    .xl-step-line.xl-step-4{width: calc(100% - 64px);}
    .xl-step-num{margin-bottom: 19px;}
    .xl-step-text{font-size: 14px; line-height: 21px;}
    .xl-step-text h2{font-size: 20px; line-height: 25px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .xl-cta-wrap{padding: 0 0 22px;}
    .xl-cta-main{padding: 42px 24px 24px; background-image: url("images/xl-cta-micro-mobile@2x.jpg");}
    .xl-cta-row{display: block;}
    .xl-cta-frame{left: -100%;}
    .xl-cta-frame-3, .xl-cta-frame-4{left: auto; right: -100%;}
    .visible .xl-cta-frame-1 { top: -18px; left: -12px; }
    .visible .xl-cta-frame-2{top: 122px; left: 48px;}
    .visible .xl-cta-frame-3 { top: -18px; left: auto; right: 62px; }
    .visible .xl-cta-frame-4 { top: 122px; right: 12px; left: auto; z-index: 0; }
    .xl-cta-text{padding-top: 31px;}
    .xl-cta-text h2{padding-top: 4px; font-size: 24px; line-height: 30px;}

    .xl-step-row{display: block;}
    .xl-step-list{gap: 20px; margin-bottom: 20px;}
    .xl-step-list:first-child{margin-bottom: 30px;}
    .xl-step-line{width: 2px; height: calc(100% - 32px); top: 64px; left: 32px;  position: absolute; z-index: -1; }
    .xl-step-line::before{width: 100%; height: 0%; animation-name: xlineAnimVertical;}
    @keyframes xlineAnimVertical{ 0%{height: 0%;} 100%{height: 100%;} }
    .xl-step-4{height: calc(100% - 50px);}
    .xl-step-4::after { width: 12px; height: 20px; left: -5px; bottom: -6px; top: auto; transform: rotate(90deg); }
    .xl-step-text{flex: 1; font-size: 14px; line-height: 21px;}
    .xl-step-text h2{margin-bottom: 12px;}
    .xl-step-text p{margin-bottom: 12px; opacity: 0.9;}

    body.home .xl-cta-details {margin: 0 11px;}
    body.home .xl-cta-text span.optional-text { margin-bottom: 10px; }
    body.home  .xl-cta-text h2 {margin-bottom: 38px;}
}