
.post-card-main{width: 100%; height: 100%; padding: 6px;}
.post-card-image img{transition: all 0.5s ease;}
.post-card-text{padding: 24px 18px 0px; color: var(--Foreground, #313031); transition: all 0.5s ease;}
.post-card-text h2{margin-bottom: 20px;}
.post-card-text h2 a{color: var(--Navy);}
.post-card-text h2 a:hover{color: var(--Blue);}
.post-card-text p{opacity: 0.8;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .post-card-image{min-height: 239px;}
    .post-card-image img{max-height: 239px;}
    .post-card-main:hover .post-card-image img{max-height: 209px;}
    .post-card-links{margin-top: 19px; opacity: 0; transition: all 0.5s ease;}
    .post-card-main:hover .post-card-links{opacity: 1;}
    .post-card-main:hover .post-card-text{transform: translateY(-30px);}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .post-card-image{min-height: 209px;}
    .post-card-image img{max-height: 209px;}
    .post-card-text .line-m-clamp{margin-bottom: 20px;}
    .post-card-text { padding: 24px 18px 24px; }
    .post-card-links{margin-top: 20px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .post-card-image{min-height: 209px;}
    .post-card-image img{max-height: 209px;}
    .post-card-text { padding: 24px 18px 24px; }
    .post-card-links{margin-top: 20px;}
}