
.post-card-main{width: 100%; height: 100%; padding: 6px; box-shadow: 0px 18px 36px 0px rgba(24, 42, 84, 0.10);}
.post-card-image > a{width: 100%; height: 100%; display: block;}
.post-card-image img{transition: all 0.5s ease; overflow: hidden;}
.post-card-text{padding: 24px 18px 0px; color: var(--Foreground, #313031); transition: all 0.5s ease;}
.post-card-text h2{margin-bottom: 20px;}
.post-card-text h2 a{color: var(--Navy);}
.post-card-text h2 a:hover{color: var(--Orange);}
.post-card-text p{opacity: 0.8;}

/* media css starts here */
@media screen and (min-width: 1300px){
    .post-card-image{min-height: 239px;}
    .post-card-image img{max-height: 239px; min-height: 239px;}
    .post-card-main:hover .post-card-image img{max-height: 209px; min-height: 209px;}
}
@media screen and (min-width: 1024px){
    .post-card-links{margin-top: 19px; opacity: 0; transition: all 0.5s ease;}
    .post-card-main:hover .post-card-links{opacity: 1;}
    .post-card-main:hover .post-card-text{transform: translateY(-30px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .post-card-image{min-height: 209px;}
    .post-card-image img{max-height: 209px; min-height: 209px;}
    .post-card-main:hover .post-card-image img{max-height: 189px; min-height: 189px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .post-card-image{min-height: 209px;}
    .post-card-image img{max-height: 209px;}
    .post-card-text .line-m-clamp{margin-bottom: 20px;}
    .post-card-text { padding: 24px 18px 24px; }
    .post-card-links{margin-top: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .post-card-image{min-height: 186px;}
    .post-card-image img{max-height: 186px;}
    .post-card-text { padding: 24px 18px 24px; }
    .post-card-links{margin-top: 20px;}
}