:root {
    --black: #000;
    --black-5: rgb(0 0 0 / 5%);
    --black-10: rgb(0 0 0 / 10%);
     --White: #ffffff;
    --Blue: #1335AF;
    --Orange: #F9662D;
    --Background: #f0f2fa;
    --Navy: #182A54;
    --Foreground: #313031;
}