:root {
    --black: #000;
    --black-5: rgb(0 0 0 / 5%);
    --black-10: rgb(0 0 0 / 10%);
     --White: #ffffff;
    --Blue: #1335AF;
    --Blue-Tint: #d9dff2;
    --Orange: #F9662D;
    --Background: #f0f2fa;
    --Navy: #182A54;
    --Foreground: #313031;
    --Card-Stroke: rgba(217, 223, 242, 0.25);
    --Elevated: #f0f2fa;
}