
.cta-micro-main{padding: 24px 48px 25px; margin-bottom: 19px; background: linear-gradient(90deg,#1335af 0,rgba(19,53,175,0) 100%),linear-gradient(300deg,#182a54 0,#1335af 100%); background-repeat: no-repeat; background-size: cover;}
.default-article .cta-micro-main{margin: 46px 0 0;}
.cta-micro-text span.h3{display: block;}
.cta-micro-btns{gap: 16px;}

/* media css starts here */
@media screen and (min-width: 740px){
    .cta-micro-bg{background-image: url('./images/cta-micro-bg@2x.jpg');}
}
@media screen and (min-width: 1200px){
    .cta-micro-main{gap: 108px; flex-direction: row-reverse;}
    .cta-micro-text{flex: 1; max-width: 340px; margin-right: auto;}
    .cta-micro-image{flex: 0 0 362px; max-width: 362px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1200px){
    .cta-micro-main{gap: 24px; padding: 24px 32px 25px;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .cta-micro-main{gap: 32px; padding: 38px 32px 50px; flex-direction: column;}
    .cta-micro-image{max-width: 294px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .cta-micro-main{gap: 24px; padding: 24px 16px 25px 32px; flex-direction: row-reverse;}
    .cta-micro-text{flex: 1;}
    .cta-micro-image{flex: 0 0 310px;}
    .cta-micro-text span.h3{font-size: 30px; line-height: 37px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){    
    .cta-micro-main{padding: 21px 24px 23px; margin-bottom: 4px; display: block;}
    .cta-micro-bg{background-image: url('./images/cta-micro-bg-mobile@2x.jpg');}
    .cta-micro-image{margin-bottom: -3px; left: -16px; width: calc(100% + 32px); position: relative;}
    .cta-micro-text span.h3{font-size: 24px; line-height: 30px;}
}