
header.site-header{top: 0; left: 0; width: 100%; height: auto; position: fixed; z-index: 800;}
.logo a{width: 100%; height: 100%; display: block;} 
.logo a img{width: 100%; object-fit: cover;}


.header_btns .button.gray{color: var(--Navy);}
.header_btns .button.gray:hover{color: var(--White);}

/* media css starts here */
@media screen and (min-width: 1024px) {
    .header{padding: 0 14px; margin: 16px 0; gap: 16px; border-radius: 8px; border: 1px solid var(--Blue-Tint, #D9DFF2); background: var(--Elevated, #FFF); box-shadow: 0px 6px 12px 0px rgba(24, 42, 84, 0.10); }
    .logo{flex: 0 0 144px;}

    .header_right{flex: 1;}
    ul.main_menu{margin: 0; gap: 32px; padding-right: 103px; flex: 1; width: fit-content; position: relative; justify-content: flex-end;}
    ul.main_menu li::before{display: none;}
    ul.main_menu > li{margin: 0;}
    ul.main_menu > li > a{padding: 20px 0 20px; display: block; color: var(--Blue); font-family: "Noto Sans", sans-serif; font-size: 16px; font-weight: 600; line-height: 22px; position: relative;}
    ul.main_menu > li > a::after{width: 100%; height: 4px; bottom: 0; left: 0; opacity: 0; position: absolute; content: ""; display: block; border-radius: 2px; background: var(--Gradient-Gold, linear-gradient(315deg, #F9662D 0.31%, #FEC74D 82.24%, #FFDC54 100.31%)); transition: all 0.4s ease;}
    ul.main_menu > li:hover > a::after{opacity: 1;}
    ul.main_menu > li > a:hover{color: var(--Orange);}
    ul.main_menu > li > ul{margin: 0; background-color: var(--White); position: absolute; visibility: hidden; opacity: 0; transition: all 0.4s ease;}
    ul.main_menu > li:hover > ul{opacity: 1; visibility: visible;}
    
    ul.main_menu > li.nav-product > ul {padding: 0; max-width: 955px; left: -50vw; gap: 56px; display: flex; flex-wrap: wrap; margin-left: 100%; width: 100vw; min-width: 955px; z-index: 10; border-radius: 16px;}
    ul.main_menu > li.nav-product{position: static;}
    ul.main_menu > li.nav-product > ul > li{margin: 0; width: 100%; display: block;}
    ul.main_menu > li.nav-product > ul > li > a{padding: 24px 32px; gap: 20px; display: flex; flex-wrap: wrap; align-items: center; background: var(--Background, #F0F2FA); color: var(--Blue, #1335AF); font-size: 20px; font-weight: 700; line-height: 25px; font-family: "arboria", sans-serif; }
    ul.main_menu > li.nav-product > ul > li > a svg{width: 35px;}
    ul.main_menu > li.nav-product > ul > li > ul{margin: 0; padding: 32px; gap: 32px; display: flex; flex-wrap: wrap; width: 100%; background-color: var(--White); border-radius: 0 0 16px 16px;}
    ul.main_menu > li.nav-product > ul > li > ul > li{margin: 0 0 22px; flex: 0 0 calc(33.3333% - 22px);}
    ul.main_menu > li.nav-product > ul > li > ul > li > a{gap: 14px; align-items: center; flex-wrap: wrap; display: inline-flex; color: var(--Blue, #1335AF); font-family: "arboria", sans-serif; font-size: 20px; font-weight: 700; line-height: 24px;}
    ul.main_menu > li.nav-product > ul > li > ul > li > a:hover{color: var(--Orange);}
    ul.main_menu > li.nav-product > ul > li > ul > li > ul{margin: 0; padding-top: 24px;}
    ul.main_menu > li.nav-product > ul > li > ul > li > ul > li{margin: 0 0 24px;}
    ul.main_menu > li.nav-product > ul > li > ul > li > ul > li > a{gap: 12px; display: flex; flex-wrap: wrap; align-items: center; color: var(--Foreground, #313031); font-family: "Noto Sans", sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; }
    ul.main_menu > li.nav-product > ul > li > ul > li > ul > li > a:hover{color: var(--Orange);}
    
    ul.main_menu > li.nav-solutions > ul {padding: 32px 32px 0; max-width: 955px; left: -50vw; gap: 56px; display: flex; flex-wrap: wrap; margin-left: 100%; width: 100vw; min-width: 955px; z-index: 10; }
    ul.main_menu > li.nav-solutions{position: static;}
    ul.main_menu > li.nav-solutions > ul > li:nth-child(1){flex: 1;}
    ul.main_menu > li.nav-solutions > ul > li:nth-child(2){flex: 0 0 271px;}
    ul.main_menu > li.nav-solutions > ul > li:last-child{padding: 20px 32px; margin: 0; flex: 0 0 calc(100% + 64px); left: -32px; gap: 40px; display: flex; flex-wrap: wrap; background: var(--Background, #F0F2FA);}
    ul.main_menu > li.nav-solutions > ul > li > a{ color: var(--Blue, #1335AF); font-size: 20px; font-weight: 700; line-height: 25px; font-family: "arboria", sans-serif; }
    ul.main_menu > li.nav-solutions > ul > li > ul{margin: 0; padding-top: 20px;}
    ul.main_menu > li.nav-solutions > ul > li > ul > li{margin: 0 0 22px;}
    ul.main_menu > li.nav-solutions > ul > li > ul > li > a{gap: 14px; align-items: center; flex-wrap: wrap; display: inline-flex; color: var(--Foreground, #313031); font-family: "Noto Sans", sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;}
    ul.main_menu > li.nav-solutions > ul > li > ul > li > a:hover{color: var(--Orange);}
    ul.main_menu > li.nav-solutions > ul > li:nth-child(1) > ul{display: flex; flex-wrap: wrap;}
    ul.main_menu > li.nav-solutions > ul > li:nth-child(1) > ul > li{flex: 0 0 50%;}
    ul.main_menu > li.nav-solutions > ul > li:last-child > ul{padding: 0; gap: 42px; display: flex; flex-wrap: wrap;}
    ul.main_menu > li.nav-solutions > ul > li:last-child > ul > li{margin: 0;}

    .header_btns{width: fit-content; gap: 16px;}
}
@media screen and (max-width: 1159px) and (min-width: 1024px){
    ul.main_menu{padding-right: 6px;}
}
@media screen and (max-width: 1023px) and (min-width: 200px){
    .header{margin: 16px 0; gap: 16px; position: relative; z-index: 2;}
    .header::before { top: 0; left: 0; border-radius: 8px; border: 1px solid var(--Blue-Tint,#d9dff2); background: var(--Elevated,#fff); box-shadow: 0 6px 12px 0 rgba(24,42,84,.1); width: 100%; height: 100%; content: ""; display: block; position: absolute; z-index: 1; }
    .logo{flex: 0 0 144px; padding: 16px 0 14px 14px; position: relative; z-index: 1;}

    .humburger-btn{width: 64px; height: 100%; right: 0; border-left: 1px solid var(--Blue-Tint, #D9DFF2); cursor: pointer; display: block; z-index: 1;}
    .humburger-btn span { width:100%; height: 2px; left: 0; right:0; max-width: 28px; margin:0 auto; opacity:1; transition:.45s ease-in-out; background-color:var(--Navy); display:block; position:absolute }
    .humburger-btn span:first-child { top: 19px }
    .humburger-btn span:nth-child(2) { top: 30px }
    .humburger-btn span:nth-child(3) { top: 41px; }
    .humburger-btn.open span{background-color: var(--Orange);}
    .humburger-btn.open span:first-child {top: 32px; transform:rotate(45deg) }
    .humburger-btn.open span:nth-child(2) { transform: scale(0); }
    .humburger-btn.open span:nth-child(3) {top: 32px; transform:rotate(-45deg) }

    .h_mobile_overlay{visibility: hidden; opacity: 0; top: 0; right: 0; transform: translateX(0); width: 100%; height: 100%; position: fixed; background: rgba(24, 42, 84, 0.85); backdrop-filter: blur(6px); transition: all 0.5s ease;} 
    .h_mobile_overlay.open{visibility: visible; opacity: 1;}
    .header_right{display: none; padding: 11px 16px 20px; top: calc(100% - 4px); left: 0; width: calc(100% + 2px); height: auto; position: absolute; background-color: var(--White); border-radius: 0 0 16px 16px; border: 1px solid var(--Blue-Tint,#d9dff2); border-top: none;}


    ul.main_menu{margin: 0 0 20px; display: block;}
    ul.main_menu > li{margin: 0; border-bottom: 1px solid var(--Blue-Tint, #D9DFF2);}
    ul.main_menu li::before{display: none;}
    ul.main_menu > li > a{padding: 21px 0 19px; display: block; color: var(--Blue); font-family: "arboria", sans-serif; font-size: 20px; font-weight: 600; line-height: 25px; position: relative;}
    ul.main_menu > li > a:hover{color: var(--Orange);}
    ul.main_menu > li.menu-item-has-children > a::after{top: 50%; transform: translateY(-50%); right: 0; width: 24px; height: 24px; background-image: url("./images/down-arrow.svg"); background-repeat: no-repeat; background-position: center; content: ""; display: block; position: absolute;}
    ul.main_menu > li.menu-item-has-children > a.active{font-size: 16px; color: rgb(19 53 175 / 50%); text-align: center; text-transform: uppercase;}
    ul.main_menu > li.menu-item-has-children > a.active::after{top: calc(50% + 3px); transform: translateY(-50%) scaleX(-1); left: 0; right: auto;}
    ul.main_menu > li > ul{margin: 0; display: none; background-color: var(--White);}
    ul.main_menu > li > ul > li{margin: 0; border-top: 1px solid var(--Blue-Tint, #D9DFF2);}
    ul.main_menu > li > ul > li > a{padding: 22px 0 19px; color: var(--Blue, #1335AF); font-family: "arboria", sans-serif; font-size: 18px; font-weight: 700; line-height: 22px; display: block; position: relative;}
    ul.main_menu > li > ul > li > a::after{top: 50%; transform: translateY(-50%); right: 0; width: 15px; height: 9px; background-image: url("./images/caret-down.svg"); background-repeat: no-repeat; content: ""; display: block; position: absolute;}
    ul.main_menu > li > ul > li > ul{margin: 0; padding: 0 0 8px; display: none;}
    ul.main_menu > li > ul > li > ul > li{margin-bottom: 12px;}
    ul.main_menu > li > ul > li > ul > li > a{color: var(--Foreground, #313031); font-family: "Noto Sans", sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; gap: 12px; display: flex; flex-wrap: wrap; width: 100%;}

    .header_btns{gap: 16px;}
    .header_btns .button{flex: 1;}

}
@media screen and (max-width: 739px) and (min-width: 200px){
   
}