
ul.social-icons {gap: 12px; margin:0;}
ul.social-icons li {margin: 0; display: inline-block; }
ul.social-icons li::before { display:none }
ul.social-icons li a {width: 44px; height: 44px; border: 2px solid transparent; font-size:20px; line-height: 24px; color: var(--White); position:relative; z-index: 1; }
ul.social-icons li a::before{ width: 100%; height: 100%; top: 0; left: 0; content: ""; border-radius: 4px; background-color: var(--Blue); position: absolute; transition: all 0.5s ease; z-index: -1; }
ul.social-icons li a:hover::before{background-color: transparent;}
ul.social-icons li a:hover { border-color: var(--Background); background-color: transparent; color: var(--Blue); }

/* media css starts here */
@media screen and (min-width: 740px){
    ul.social-icons{justify-content: flex-end;}
}
