body .demo-form .hbspt-form fieldset {max-width: 100%;}
body .demo-form .hbspt-form .hs-form-field {margin-bottom: 24px; position: relative;}

body .demo-form .hbspt-form .form-columns-2 {display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;}
body .demo-form .hbspt-form .form-columns-2 .hs-form-field {width: calc(50% - 13px); margin-left: 10px; margin-right: 10px;}
body .demo-form .hbspt-form .form-columns-2 .hs-form-field:nth-child(2n+1) {margin-left: 0;}
body .demo-form .hbspt-form .form-columns-2 .hs-form-field:nth-child(2n) {margin-right: 0;}
body .demo-form .hbspt-form .form-columns-2 .hs-form-field .input {margin: 0;}

body .demo-form .hbspt-form .hs-form-field input, body .demo-form .hbspt-form .hs-form-field textarea, body .demo-form select {background: var(--White); border: 1px solid var(--Blue-Tint, #d9dff2); width: 100% !important;}
body .demo-form .hbspt-form .hs-form-field input:focus, body .demo-form .hbspt-form .hs-form-field textarea:focus {background-color: var(--White);}
body .demo-form .hbspt-form .hs-form-field input::-webkit-input-placeholder, body .demo-form .hbspt-form .hs-form-field textarea::-webkit-input-placeholder {color: var(--Blue); font-family: arboria, sans-serif;}
body .demo-form .hbspt-form .hs-form-field input:-moz-placeholder, body .demo-form .hbspt-form .hs-form-field textarea:-moz-placeholder {color: var(--Blue); font-family: arboria, sans-serif; opacity: 1;}
body .demo-form .hbspt-form .hs-form-field input::-moz-placeholder, body .demo-form .hbspt-form .hs-form-field textarea::-moz-placeholder {color: var(--Blue); font-family: arboria, sans-serif; opacity: 1;}

body .demo-form .hbspt-form select {display: none;}
body .demo-form .hbspt-form .hs-form-field textarea {height: 160px; resize: none; width: 100%;}
body .demo-form .hbspt-form .hs-form-field.hs-message .input {margin: 0;}
body .demo-form .hbspt-form .hs-form-field > label {display: none;}
body .demo-form .hbspt-form .hs-form-field ul.hs-error-msgs {margin: 0; padding: 0; right: 0; position: absolute; bottom: -17px;}
body .demo-form .hbspt-form .hs-form-field ul.hs-error-msgs li:before {display: none;}
body .demo-form .hbspt-form .hs-form-field ul.hs-error-msgs li {margin: 0;}
body .demo-form .hbspt-form .hs-form-field ul.hs-error-msgs li label {font-size: .75rem; line-height: 1.125rem; font-weight: 500; color: var(--Orange); padding: 0;}
body .demo-form .hbspt-form .hs-form-field input:not([type="file"][type="checkbox"]):focus {background-color: var(--White); border-color: rgb(19 53 175 / 60%); box-shadow: none;}

body .demo-form .hbspt-form .hs_submit .hs-button {padding: 8px 12px 8px 12px; font-size: 1rem; font-weight: 600; line-height: 1.5rem; font-family: "Noto Sans",sans-serif; display: inline-block; background: var(--Blue); color: var(--White); border: none; border-radius: 4px; cursor: pointer; vertical-align: middle; text-decoration: none; text-transform: none; text-align: center; outline: 0; position: relative; -webkit-writing-mode: horizontal-tb; -ms-writing-mode: horizontal-tb; writing-mode: horizontal-tb; text-orientation: mixed; box-shadow: none; transition: all .5s ease; z-index: 1; margin: 0; width: auto;}
body .demo-form .hbspt-form .hs_submit .hs-button:hover {background: var(--Orange); color: var(--White);}

body .demo-form .hbspt-form .hs_error_rollup {display: none;}

@media only screen and (max-width:767px) and (min-width:200px) {
    body .demo-form .hbspt-form .form-columns-2 .hs-form-field {width: 100%; margin-right: 0; margin-left: 0;}
    body .demo-form .hbspt-form .hs_submit .hs-button {width: 100%; margin: 10px 0;}
}